<div class="function_list clear">
    <div class="category left">
        <a class="left">分类</a>
        <a class="left">分类</a>
        <a class="left">分类</a>
        <a class="left">分类</a>
    </div>
    <div class="search right">
        <i class="icon-search"></i>
        <input>
    </div>
</div>
<ul class="post_list">
    <li class="post" ng-repeat="post in posts track by $index">
        <p class="time">{{post.time}}</p>
        <a class='title' href='#/post/{{post.id}}'>{{post.title}}</a> <br>
        <span class="author">{{post.author}}</span>
    </li>
</ul>