<div class="function_list clear">
    <div class="category left">
        <div ng-repeat="category in categories" ng-if="(category.mute == 0)||logined" class="left cate-{{category.id}}">
            <a href="#/category/{{category.id}}" class="{{category.theme}}">
                {{category.name}}
            </a>
            <i class="manage_category_button" ng-if="logined">
                <span class="card">
                    <i class="hide_category icon-" data-category="{{category.id}}"></i>
                    <i class="mute_category icon-" data-category="{{category.id}}"></i>
                    <i class="edit_category icon-pencil" data-category="{{category.id}}"></i>
                </span>
            </i>

            <form class="category_rename" ng-if="logined">
                <input name="rename" data-category="{{category.id}}" value="{{category.name}}"/>
                <button class="cancel_rename cancel-{{category.id}}">×</button>
            </form>
        </div>

        <form class="left add_new">
            <span>+</span>
            <input type="text" name="new_category_name"/>

            <div class="color_picker_warp">
                <div class="color_picker card clear">
                    <button type="submit" class="orange"></button>
                    <button type="submit" class="deep_orange"></button>
                    <button type="submit" class="red"></button>
                    <button type="submit" class="pink"></button>
                    <button type="submit" class="purple"></button>
                    <button type="submit" class="deep_purple"></button>
                    <button type="submit" class="indigo"></button>
                    <button type="submit" class="blue"></button>
                    <button type="submit" class="cyan"></button>
                    <button type="submit" class="teal"></button>
                    <button type="submit" class="green"></button>
                    <button type="submit" class="light_green"></button>
                </div>
            </div>
        </form>
    </div>
    <div class="search right">
        <form action="api/?list" action="get" id="search">
            <i class="icon-search"></i><span><input name="search" type="text"/></span>
        </form>
    </div>
</div>
<ul class="post_list">
    <li class="post" id="post-{{post.id}}" ng-repeat="post in posts track by $index">
        <p class="time">{{post.time}}</p>
        <span class="category {{category[post.category].theme}}">{{category[post.category].name}}</span>
        <a class='title' href='#/post/{{post.id}}'>{{post.title}}
            <span class="sage" ng-show="post.sage == 1">SAGE</span>
        </a> <br>
        <span class="author">{{post.author}}</span>

        <input type="checkbox" class="manage_ multi_select" data-post-id="{{post.id}}"/>
    </li>
</ul>