<div class="function_list clear">
    <div class="category left">
        <a ng-repeat="category in categories" href="#/category/{{category.id}}" class="left {{category.theme}}">{{category.name}}</a>
    </div>
    <div class="search right">
        <form action="api/?list" action="get" id="search">
            <i class="icon-search"></i><span><input name="search" type="text"/></span>
        </form>
    </div>
</div>
<ul class="post_list">
    <li class="post" ng-repeat="post in posts track by $index">
        <p class="time">{{post.time}}</p>
        <span class="category {{category[post.category].theme}}">{{category[post.category].name}}</span>
        <a class='title' href='#/post/{{post.id}}'>{{post.title}}
        <span class="sage" ng-show="post.sage == 1">SAGE</span>
        </a> <br>
        <span class="author">{{post.author}}</span>
    </li>
</ul>