<div ng-if="!logined">
    <div class="not_logined">
        <img src="images/about.png" class="logo"/>

        <p class="hint">
            *在任意页面均可通过快捷键：上上下下左右左右BA
        </p>
    </div>
</div>

<div ng-if="logined">
    <div class="manage_info_warp">
        <img src="images/about.png" class="logo"/>
        <dl class="sysinfo">
            <dt data-ng-repeat-start="(key,value) in systemInfo">{{key}}</dt>
            <dd data-ng-repeat-end>{{value}}</dd>
        </dl>
        <button class="logout" ng-click="logout">登出</button>
    </div>
</div>