<div class="function_list clear">
    <div class="search right">
        <form action="api/?list" action="get" id="search">
            <i class="icon-search"></i><span><input name="search" type="text"/></span>
        </form>
    </div>
</div>

<ul class="post_list">
    <li class="post clear" id="post-{{post.id}}" ng-repeat="post in posts track by $index">
        <p class="time">{{post.time}}</p>
        <img ng-if="post.img" ng-src="{{post.img}}" class="uploaded_image lbox"/>

        <div class="left article_group">
            <p ng-if="post.title != ''">
                <span class="category {{category[post.category].theme}}">{{category[post.category].name}}</span>
                <a class='title' href='#/post/{{post.id}}'>{{post.title}}</a>
            </p>
            <span class="author">{{post.author}}</span>
            <article ng-bind-html="post.content | trustHtml">
                {{post.content}}
            </article>
        </div>

        <input type="checkbox" class="manage_ multi_select" data-post-id="{{post.id}}"/>
    </li>
</ul>