<div class="function_list clear">
    <div class="search right">
        <form action="api/?list" action="get" id="search">
            <i class="icon-search"></i><span><input name="search" type="text" value="{{router.searchKey}}"/></span>
        </form>
    </div>
</div>

<ul class="post_list">
    <li class="post clear" ng-repeat="result in posts track by $index">
        <p class="time">{{post.time}}</p>
        <img ng-if="result.post.img" ng-src="{{result.post.img}}" class="uploaded_image lbox"/>

        <div class="left article_group">
            <p ng-if="result.post.title != ''">
                <span class="category {{category[post.category].theme}}">{{category[post.category].name}}</span>
                <a class='title' href='#/post/{{result.post.id}}'>{{result.post.title}}</a>
                <span class="sage" ng-show="post.sage == 1">SAGE</span>
            </p>
            <span class="author">{{result.post.author}}</span>
            <article ng-bind-html="result.post.content | trustHtml">
                {{result.post.content}}
            </article>

            <ul class="replies" ng-repeat="reply in post.reply track by $index">
                <li>
                    <span class="author">{{reply.author}}</span>
                    <article ng-bind-html="reply.content | trustHtml">
                        {{reply.content}}
                    </article>
                </li>
            </ul>
        </div>

        <!input type="checkbox" class="manage_ multi_select" data-post-id="{{post.id}}"/>
    </li>
</ul>