<!DOCTYPE html>
<html ng-app='mKnowledge' manifest='/cache.manifest'>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:title" content="Masochist-board">
    <meta property="og:site_name" content="Masochist-board">
    <meta property="og:image"
          content="https://raw.githubusercontent.com/Losses/Masochist-board/1392eb7b16a95a832dee28dcbaa27b24e8ce7fbf/images/about.png">
    <meta property="og:description" content="用于开心玩耍的公共后花园。">

    <meta name="theme-color" content="#5c00ff">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android_icon/launcher-icon-4x.png">
    <link rel="manifest" href="dbs/mainfest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="images/ios_app_icon.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link type="text/css" rel="stylesheet" href="styles/main.css"/>
    <link type="text/css" rel="stylesheet" href="styles/page.css"/>
    <link type="text/css" rel="stylesheet" href="styles/board.css"/>
    <link type="text/css" rel="stylesheet" href="styles/emoji.css" data-noprefix/>
    <script src="scripts/md5.min.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/jquery.form.min.js"></script>
    <script src="scripts/jquery.mousewheel.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="scripts/prefixfree.min.js"></script>
    <title>{{title}}Masochist-board</title>
</head>
<body ng-controller="globalCtrl">
<div class="wrap">

    <header class="clear">
        <nav>
            <i class="highlight"></i>
            <li class="nav_item a"><a href="#/">首页</a></li>
            <li class="nav_item b"><a href="#/">手册</a></li>
            <li class="nav_item c"><a href="#/">动态</a></li>
            <li class="nav_item d"><a href="#/">关于</a></li>
        </nav>

        <div id="intro">
            <h1>Masochist-board</h1>

            <p class="subtitle">用于开心玩耍的公共后花园。</p>
        </div>
    </header>

    <section id="main" ng-view></section>

    <section id="common">
        <div class="card dialog" id="post_dialog" ng-controller="dialogCtrl">
            <form action='api/?new' method='post' id="post_form">
                <input type='text' name='upid' value="0" style='display:none'/>

                <div class="dialog_head">

                    <div class="s_select post_category">
                        <input class="select_rebuild" name="category" readonly value="1"/>
                        <button class="s_choosen">{{categories[0].name}}</button>
                        <ul class="s_select_body">
                            <li ng-repeat="category in categories" ng-if="(category.hide == 0) || logined"
                                val="{{category.id}}" class="{{category.theme}}">
                                {{category.name}}
                            </li>
                        </ul>
                    </div>

                    <input class='right' type='text' name='title' placeholder="标题"/>
                    <label class="checkbox_rebuild">SAGE<input type="checkbox" name="sage" class="checkbox_rebuild"
                                                               value="1"></label>
                </div>

                <textarea name='content'></textarea>

                <div id="emoji_box">
                    <ul ng-repeat="group in groups" class="clear g-{{group.name}}">
                        <li ng-repeat="emoji in group.emoji">
                            <button class="emoji {{emoji.value}}" data-value="{{emoji.name}}"></button>
                        </li>
                    </ul>
                    <nav class="group_select clear">
                        <li ng-repeat="group in groups">
                            <i class="emotion_name icon-{{group.name}}" data-group-name="g-{{group.name}}"></i>
                        </li>
                        <li class="cancel">
                            <i class="icon-cancel"></i>
                        </li>
                    </nav>
                </div>

                <!button class='icon-menu'><!/button>
                <div class="icon_group">
                    <div class="extend">
                        <div class="upload_warp">
                            <div class="image_preview"></div>
                            <div class="upload_cancel icon_cotainer">
                                <button class="icon-cancel remove_image colorful_icon"></button>
                            </div>
                            <div class="hint"></div>
                            <div class="icon_cotainer">
                                <button class="icon-picture upload_image colorful_icon"></button>
                                <input type='file' name='image' id='upload_image_active'/>
                            </div>
                        </div>

                        <div class="icon_cotainer">
                            <button class="icon-smile emoji_button colorful_icon"></button>
                        </div>
                    </div>
                    <div>
                        <button type='submit' class="post_submit icon-"></button>
                    </div>
                </div>
            </form>

            <i class="icon-cancel close_dialog"></i>
        </div>

        <div class="float_icon" id="new_post" ng-controller="manageCtrl">
            <ul class="manage_menu manage_">
                <li class="delete_warp">
                    <button class="icon-trash delete" title="删除该PO"></button>

                    <div class="confirm_warp">
                        <button class="icon-ok confirm_delete" data-manage-action="delete"></button>
                    </div>

                    <div class="cancel_warp">
                        <button class="icon-cancel cancel_delete"></button>
                    </div>
                </li>

                <li class="transport_warp">
                    <button class="icon-transport move" title="将该PO转移到其他分类"></button>
                    <div class="transport_select_warp">
                        <div class="s_select transport_category">
                            <input class="select_rebuild" name="manage_transform" readonly value="1"/>
                            <button class="s_choosen">{{categories[0].name}}</button>
                            <div class="s_select_body_warp">
                                <ul class="s_select_body">
                                    <li ng-repeat="category in categories" ng-if="(category.hide == 0) || logined"
                                        val="{{category.id}}" class="{{category.theme}}">
                                        {{category.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="transport_confirm">
                            <button class="icon-cancel cancel_transport"></button>
                            <button class="icon-ok confirm_transport" data-manage-action="trans"></button>
                        </div>
                    </div>


                </li>
                <li>
                    <button class="icon-sage sage confirm_sage" title="sage该PO" data-manage-action="sage"></button>
                </li>
            </ul>
            <i class="icon-pencil"></i>
        </div>

        <div class="loading_spin">
            <div class="background"></div>
            <svg class="circular">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"/>
            </svg>
        </div>

        <form class="card manage">
            <input type="text" id="password" placeholder="管理员密码" class="password_acion"/>
        </form>

        <span class="public_warning">密码错误！</span>

    </section>
    <div class="push"></div>
</div>
<footer>
    <p>Powered by <a href="https://github.com/Losses/Masochist-board">Masochist-board</a></p>

    <p>Designed By <a href="https://plus.google.com/u/0/+LossesDon/posts">Losses Don</a>, Programmed By <a
            href="https://plus.google.com/+SkyLark2333">Sky Lark</a></p>
    <script src="scripts/main.js"></script>
    <script src="scripts/public.js"></script>
</footer>
</body>
</html>