<!DOCTYPE html>
<html ng-app='mKnowledge'>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#5c00ff">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="styles/main.css"/>
    <link type="text/css" rel="stylesheet" href="styles/page.css"/>
    <link type="text/css" rel="stylesheet" href="styles/board.css"/>
    <link type="text/css" rel="stylesheet" href="styles/emoji.css" data-noprefix/>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/jquery.form.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/board.js"></script>
    <script src="scripts/public.js"></script>
    <script src="scripts/prefixfree.min.js"></script>
    <title>轨道炮 piu——</title>

    <style>
        .sprite-1f601 {
            background-position: 0 -15923px
        }
    </style>
</head>
<body>
<header class="clear">
    <nav>
        <i class="highlight"></i>
        <li class="nav_item a"><a href="#">首页</a></li>
        <li class="nav_item b"><a href="#">手册</a></li>
        <li class="nav_item c"><a href="#">动态</a></li>
        <li class="nav_item d"><a href="#">关于</a></li>
    </nav>

    <div id="intro">
        <h1>知识库</h1>

        <p class="subtitle">了解如何使用你的私人炮姐。</p>
    </div>
</header>
<section id="main">
    <ul class="post_list" ng-controller="getPostCtrl">
        <li class="post" ng-repeat="post in posts track by $index">
            <p class="time">{{post.time}}</p>
            <a class='title' href='post.html#{{post.id}}'>{{post.title}}</a> <br>
            <span class="author">{{post.author}}</span>
        </li>
    </ul>

    <div class="dialog" id="post_dialog">
        <form action='api/?new' method='post' id="post_form">
            <input type='text' name='author' value="a person" style='display:none'/>
            <input type='text' name='title' placeholder="标题"/>
            <textarea name='content'></textarea>

            <div ng-controller="emojiCtrl" id="emoji_box">
                <ul ng-repeat="group in groups" class="clear g-{{group.name}}">
                    <li ng-repeat="emoji in group.emoji">
                        <button class="emoji {{emoji.value}}" data-value="{{emoji.name}}"></button>
                    </li>
                </ul>
                <nav class="group_select clear">
                    <li ng-repeat="group in groups">
                        <i class="emotion_name icon-{{group.name}}" data-group-name="g-{{group.name}}"></i>
                    </li>
                    <li class="cancel">
                        <i class="icon-cancel"></i>
                    </li>
                </nav>
            </div>

            <button class='icon-menu'></button>
            <div class="icon_group">
                <div>
                    <button class="icon-picture upload_image colorful_icon"></button>
                    <input type='file' name='image' id='upload_image_active' class='submit'/>
                </div>
                <div class="hint"></div>
                <div>
                    <button class="icon-smile emoji_button colorful_icon"></button>
                </div>
                <div>
                    <button type='submit' class="icon-paper-plane submit"></button>
                </div>
            </div>
        </form>
    </div>

    <div class="float_icon" id="new_post">
        <i class="icon-pencil"></i>
    </div>
</section>
<footer>
    <p>&copy; 2015 somebody</p>

    <p>Designed By <a href="https://plus.google.com/u/0/+LossesDon/posts">Losses Don</a></p>
    <script src="scripts/main.js"></script>
</footer>
</body>
</html>