@import url('webfonts/board.css');
@keyframes flow_up_f {
  from {
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
  }
  to {
    margin-top: -250px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes flow_down_f {
  to {
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
  }
  from {
    margin-top: -250px;
    opacity: 1;
    visibility: visible;
  }
}
#main {
  margin: 30px;
}
#main .post {
  padding: 10px;
  border-bottom: 1px dashed #c0b5d3;
  color: #3c324d;
  font-size: 14px;
  line-height: 1.5em;
  transition: all 300ms;
}
#main .post .title {
  font-size: 18px;
  text-decoration: none;
  color: #20113c;
}
#main .post .title:hover {
  color: #3e00a4;
}
#main .post .time {
  width: 90px;
  border-radius: 3px;
  margin-top: -2px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  float: right;
  background: #d7cceb;
  display: block;
}
#main .post:hover {
  background: #ece8f5;
}
#main .post:hover .title {
  color: #3e00a4;
}
#main .post:hover .title:hover {
  color: #5c00ff;
}
#main .post:hover .time {
  background: #c0b5d3;
}
#new_post {
  background: #fd9b00;
}
#new_post:hover {
  background: #ffaf31;
}
#new_post i {
  margin: 0 0 0 15px;
  color: white;
  font-size: 25px;
  line-height: 62px;
  display: block;
}
#post_dialog {
  top: 50%;
  left: 50%;
  width: 550px;
  height: 500px;
  margin: -250px 0 0 -275px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  overflow: hidden;
  position: fixed;
  z-index: 5;
  margin-top: -200px;
  opacity: 0;
  visibility: hidden;
}
#post_dialog.flow_up {
  animation: flow_up_f 300ms ease-in-out forwards;
}
#post_dialog.flow_down {
  animation: flow_down_f 300ms ease-in-out forwards;
}
#post_dialog form {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
#post_dialog form input[name=title] {
  width: calc(93%);
  height: 2em;
  padding: 20px 20px;
  line-height: 1em;
  border: none;
  border-bottom: 1px solid #c0b5d3;
  display: block;
}
#post_dialog form button[type=submit] {
  right: 0;
  bottom: 0;
  background: transparent !important;
  position: relative;
  transition: all 400ms linear;
}
#post_dialog form button[type=submit].lock {
  opacity: 0.5;
}
#post_dialog form button[type=submit].fly {
  right: -30px;
  bottom: 28px;
  opacity: 0;
}
#post_dialog form .icon-menu {
  right: 10px;
  bottom: 10px;
  width: 3em;
  height: 3em;
  padding: 5px;
  margin: 0;
  background: white;
  border-radius: 100%;
  border: 0;
  color: #3c324d;
  font-size: 18px;
  display: block;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: all 300ms linear;
}
#post_dialog form .icon-menu.hide {
  opacity: 0;
  visibility: hidden;
}
#post_dialog form .icon-menu.up {
  bottom: 195px;
}
#post_dialog form .icon_group {
  right: 15px;
  height: 45px;
  bottom: 10px;
  opacity: 0;
  transition: all 500ms;
  position: absolute;
  visibility: hidden;
}
#post_dialog form .icon_group.up {
  bottom: 195px;
}
#post_dialog form .icon_group button {
  width: 3em;
  height: 3em;
  padding: 5px;
  border: 0;
  border-radius: 100%;
  font-size: 15px;
}
#post_dialog form .icon_group > div {
  height: 0;
  padding: 5px 0;
  transition: all 300ms;
  position: relative;
}
#post_dialog form .icon_group > div input[type='file'] {
  top: 4px;
  left: 0;
  width: 45px;
  height: 48px;
  border-radius: 100%;
  opacity: 0;
  position: absolute;
}
#post_dialog form .icon_group > div .icon-smile {
  background: #ffa200;
}
#post_dialog form .icon_group > div .icon-picture {
  background: #60ff00;
}
#post_dialog form .icon_group > div .colorful_icon {
  color: #20113c;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 300ms;
}
#post_dialog form .icon_group > div:hover .icon-smile {
  background: #ffb533;
}
#post_dialog form .icon_group > div:hover .icon-picture {
  background: #80ff33;
}
#post_dialog form .icon_group > div:active .colorful_icon {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
#post_dialog form .icon_group.extend {
  height: 168px;
  opacity: 1;
  visibility: visible;
}
#post_dialog form .icon_group.extend > div {
  height: 45px;
}
#post_dialog form .icon_group.bump {
  transition: height 400ms cubic-bezier(0.45, 1.36, 0.97, 1.17);
}
#post_dialog form textarea {
  width: calc(93%);
  height: 392px;
  padding: 20px;
  border: 0;
  font-size: 12px;
  line-height: 2em;
  transition: all 300ms;
}
#post_dialog form textarea.fold {
  height: 207px;
}
#post_dialog #emoji_box {
  height: 185px;
  position: relative;
}
#post_dialog #emoji_box ul {
  top: 0;
  left: -500px;
  height: 155px;
  width: 545px;
  padding: 4px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: all 300ms;
}
#post_dialog #emoji_box ul.g-show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
#post_dialog #emoji_box ul li {
  border-radius: 3px;
  padding: 3px;
  float: left;
  position: relative;
  transition: all 200ms;
}
#post_dialog #emoji_box ul li:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 5;
}
#post_dialog #emoji_box ul li:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#post_dialog #emoji_box ul li button {
  border: 0;
  background-color: transparent;
  box-shadow: 0;
  display: block;
}
#post_dialog #emoji_box nav {
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #c0b5d3;
  position: absolute;
}
#post_dialog #emoji_box nav li {
  padding: 0 5px;
  color: #5E4092;
  font-size: 20px;
  line-height: 40px;
  float: left;
  transition: all 200ms;
  cursor: pointer;
}
#post_dialog #emoji_box nav li:hover {
  color: #3A265D;
}
#post_dialog #emoji_box nav li.cancel {
  padding: 0 10px;
  color: #3A265D;
  float: right;
}
#post_dialog #emoji_box nav li.cancel:hover {
  color: #16092D;
}
.float_icon {
  right: 50px;
  bottom: 50px;
  width: 65px;
  height: 65px;
  background-size: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: background 300ms ease-in-out, bottom 400ms;
  position: fixed;
  z-index: 5;
  cursor: pointer;
}
.float_icon:active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.float_icon.show {
  transition-timing-function: cubic-bezier(0.45, 1.36, 0.97, 1.17);
}
.float_icon.hide {
  bottom: -70px;
  transition: bottom 100ms;
}
footer {
  width: 100%;
}
@media only screen and (max-width: 550px) {
  #post_dialog {
    left: 0;
    top: 250px;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
  }
}
