@import url('webfonts/board.css');
@keyframes upload_icon_error_gray {
  0% {
    background: #607d8b;
  }
  50% {
    background: #f44336;
  }
  100% {
    background: #607d8b;
  }
}
@keyframes upload_icon_error_green {
  0% {
    background: #4caf50;
  }
  50% {
    background: #f44336;
  }
  100% {
    background: #4caf50;
  }
}
@keyframes hint_bubble {
  0% {
    left: -240px;
    opacity: 0;
    visibility: hidden;
  }
  20% {
    left: -215px;
    opacity: 1;
    visibility: visible;
  }
  80% {
    left: -215px;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: -240px;
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes shake {
  0% {
    left: 49%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 51%;
  }
}
.card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: opacity 300ms, margin-top 300ms;
}
#main {
  margin: 15px 30px;
}
#main .post_list .multi_select {
  display: none;
}
#main .post {
  padding: 10px;
  border-bottom: 1px dashed #c0b5d3;
  color: #3c324d;
  font-size: 14px;
  line-height: 1.5em;
  transition: all 300ms;
}
#main .post .category {
  top: -2px;
  margin: 0 3px;
  padding: 2px 7px;
  color: white;
  border-radius: 10px;
  font-size: 11px;
  line-height: 18px;
  position: relative;
}
#main .post .category.orange {
  background: #ff9800;
}
#main .post .category.deep_orange {
  background: #ff5722;
}
#main .post .category.red {
  background: #f44336;
}
#main .post .category.pink {
  background: #e91e63;
}
#main .post .category.purple {
  background: #9c27b0;
}
#main .post .category.deep_purple {
  background: #673ab7;
}
#main .post .category.indigo {
  background: #3f51b5;
}
#main .post .category.blue {
  background: #2196f3;
}
#main .post .category.light_blue {
  background: #03a9f4;
}
#main .post .category.cyan {
  background: #00bcd4;
}
#main .post .category.teal {
  background: #009688;
}
#main .post .category.green {
  background: #4caf50;
}
#main .post .category.light_green {
  background: #8bc34a;
}
#main .post .category.blue_gray {
  background: #607d8b;
}
#main .post .title {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #20113c;
}
#main .post .title .sage {
  top: -3px;
  font-size: 11px;
  margin: 0 0 0 5px;
  padding: 0 5px;
  color: red;
  border: red 1px solid;
  border-radius: 14px;
  position: relative;
  transition: all 200ms;
  display: inline-block;
}
#main .post .title:hover {
  color: #3e00a4;
}
#main .post .time {
  width: 90px;
  border-radius: 3px;
  margin-top: -2px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
  float: right;
  background: #d7cceb;
  display: block;
}
#main .post:hover,
#main .post.selected {
  background: #ece8f5;
}
#main .post:hover .title,
#main .post.selected .title {
  color: #3e00a4;
}
#main .post:hover .title:hover,
#main .post.selected .title:hover {
  color: #5c00ff;
}
#main .post:hover .title .sage,
#main .post.selected .title .sage {
  transform: rotate(5deg);
}
#main .post:hover .time,
#main .post.selected .time {
  background: #c0b5d3;
}
.function_list {
  margin: 0 10px 15px 10px;
}
.function_list .category span a {
  color: #3e00a4;
  margin: 0 3px;
  padding: 3px 10px;
  font-size: 11px;
  border: #3e00a4 1px solid;
  border-radius: 14px;
  transition: all 200ms;
}
.function_list .category span a:link,
.function_list .category span a:visited {
  text-decoration: none;
  color: #3e00a4;
}
.function_list .category span:hover a {
  color: white;
  border-color: transparent;
  background: #3e00a4;
}
.function_list .category span:hover a.orange {
  background: #ff9800;
}
.function_list .category span:hover a.deep_orange {
  background: #ff5722;
}
.function_list .category span:hover a.red {
  background: #f44336;
}
.function_list .category span:hover a.pink {
  background: #e91e63;
}
.function_list .category span:hover a.purple {
  background: #9c27b0;
}
.function_list .category span:hover a.deep_purple {
  background: #673ab7;
}
.function_list .category span:hover a.indigo {
  background: #3f51b5;
}
.function_list .category span:hover a.blue {
  background: #2196f3;
}
.function_list .category span:hover a.light_blue {
  background: #03a9f4;
}
.function_list .category span:hover a.cyan {
  background: #00bcd4;
}
.function_list .category span:hover a.teal {
  background: #009688;
}
.function_list .category span:hover a.green {
  background: #4caf50;
}
.function_list .category span:hover a.light_green {
  background: #8bc34a;
}
.function_list .category span:hover a.blue_gray {
  background: #607d8b;
}
.function_list .category .manage_category_button {
  display: none;
}
.function_list .search i::before {
  color: #3e00a4;
}
.function_list .search span {
  position: relative;
}
.function_list .search span::after {
  content: '\feff';
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  margin: 0 5px;
  border: #3e00a4 solid 1px;
  border-top: none;
  position: absolute;
  opacity: 0;
  display: block;
}
.function_list .search input[name="search"] {
  width: 0;
  border: 0;
  margin: 0 10px;
  color: #20113c;
  opacity: 0;
  transition: width 200ms;
}
.function_list .search:hover span::after,
.function_list .search.extend span::after {
  opacity: 1;
  width: 100%;
}
.function_list .search:hover input[name="search"],
.function_list .search.extend input[name="search"] {
  width: 200px;
  opacity: 1;
}
#new_post i {
  background: #fd9b00;
  color: white;
  font-size: 25px;
  line-height: 62px;
  display: block;
}
#new_post i::before {
  margin-left: 20px;
  content: '\e800';
}
#new_post i:hover {
  background: #ffaf31;
}
#post_dialog {
  top: 50%;
  left: 50%;
  width: 550px;
  height: 500px;
  margin: -250px 0 0 -275px;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  transition: all 300ms;
  margin-top: -200px;
  opacity: 0;
  visibility: hidden;
}
#post_dialog.flow_up {
  margin-top: -250px;
  opacity: 1;
  visibility: visible;
}
#post_dialog form {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
#post_dialog form .dialog_head {
  width: 100%;
  padding: 20px 20px;
  border-bottom: 1px solid #c0b5d3;
  display: flex;
  align-content: flex-start;
}
#post_dialog form .s_select {
  margin-right: 10px;
  width: 63px;
}
#post_dialog form input[name=title] {
  height: 2em;
  line-height: 1em;
  border: none;
  display: block;
  width: 405px;
}
#post_dialog form .checkbox_rebuild {
  padding: 5px 0;
  color: #ddd;
  letter-spacing: 1px;
  transition: color 300ms;
}
#post_dialog form .checkbox_rebuild.selected {
  color: red;
}
#post_dialog form .checkbox_rebuild input {
  display: none;
}
#post_dialog form button[type=submit] {
  right: 0;
  bottom: 0;
  background: transparent !important;
  position: relative;
  transition: all 400ms linear;
}
#post_dialog form button[type=submit].lock {
  opacity: 0.5;
}
#post_dialog form button[type=submit].fly {
  right: -30px;
  bottom: 28px;
  opacity: 0;
}
#post_dialog form button[type=submit].shake {
  animation: shake 20ms 14 alternate;
}
#post_dialog form .icon-menu {
  right: 10px;
  bottom: 10px;
  width: 3em;
  height: 3em;
  padding: 5px;
  margin: 0;
  background: white;
  border-radius: 100%;
  border: 0;
  color: #3c324d;
  font-size: 18px;
  display: block;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: all 300ms linear;
}
#post_dialog form .icon-menu.hide {
  opacity: 0;
  visibility: hidden;
}
#post_dialog form .icon-menu.up {
  bottom: 195px;
}
#post_dialog form .icon_group {
  right: 15px;
  height: 45px;
  bottom: 10px;
  opacity: 0;
  transition: all 500ms;
  position: absolute;
  visibility: hidden;
}
#post_dialog form .icon_group.up {
  bottom: 195px;
}
#post_dialog form .icon_group button {
  width: 3em;
  height: 3em;
  padding: 5px;
  border: 0;
  border-radius: 100%;
  font-size: 15px;
}
#post_dialog form .icon_group > div {
  height: 0;
  padding: 5px 0;
  transition: all 300ms;
  position: relative;
}
#post_dialog form .icon_group > div input[type='file'] {
  top: 4px;
  left: 0;
  width: 45px;
  height: 48px;
  border-radius: 100%;
  opacity: 0;
  position: absolute;
}
#post_dialog form .icon_group > div .icon-smile {
  background: #ff5722;
}
#post_dialog form .icon_group > div .icon-picture {
  background: #607d8b;
}
#post_dialog form .icon_group > div .icon-picture.selected {
  background: #4caf50;
}
#post_dialog form .icon_group > div .icon-picture.shine_gray {
  animation: upload_icon_error_gray 1s 2 ease-in-out forwards;
}
#post_dialog form .icon_group > div .icon-picture.shine_green {
  animation: upload_icon_error_green 1s 2 ease-in-out forwards;
}
#post_dialog form .icon_group > div .colorful_icon {
  color: white;
  transition: all 300ms;
}
#post_dialog form .icon_group > div:hover .icon-smile {
  background: #ff7e55;
}
#post_dialog form .icon_group > div:hover .icon-picture {
  background: #7b96a3;
}
#post_dialog form .icon_group > div:hover .icon-picture.selected {
  background: #6ec071;
}
#post_dialog form .icon_group .icon_cotainer .colorful_icon {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#post_dialog form .icon_group .icon_cotainer:active .colorful_icon {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
#post_dialog form .icon_group .upload_warp .image_preview {
  height: 0;
  width: 0;
  position: absolute;
}
#post_dialog form .icon_group .upload_warp .image_preview img {
  max-height: 165px;
  max-width: 150px;
  top: -35px;
  right: 10px;
  border: 1px solid #b1a6c4;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(137, 78, 255, 0.5);
  opacity: 0;
  transition: all 200ms;
  position: absolute;
  visibility: hidden;
}
#post_dialog form .icon_group .upload_warp.selected:hover .upload_cancel {
  transform: rotate(90deg);
  opacity: 1;
}
#post_dialog form .icon_group .upload_warp.selected:hover .upload_cancel .icon-calcel {
  transform: rotate(-90deg);
}
#post_dialog form .icon_group .upload_warp.selected:hover img {
  right: 20px;
  opacity: 1;
  visibility: visible;
}
#post_dialog form .icon_group .upload_warp .upload_cancel {
  left: -39px;
  width: 121px;
  height: 30px !important;
  margin-top: 3px;
  position: absolute;
  transform: rotate(0deg);
  opacity: 0;
  transition: all 200ms;
}
#post_dialog form .icon_group .upload_warp .upload_cancel .icon-cancel {
  width: 30px;
  height: 30px;
  font-size: 13px;
  background: #f44336;
  transform: rotate(-90deg);
}
#post_dialog form .icon_group .hint {
  top: -3px;
  left: -240px;
  width: 170px;
  height: auto !important;
  padding: 10px;
  border: 1px solid #b1a6c4;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(137, 78, 255, 0.5);
  background: #dacfed;
  color: #16092D;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
#post_dialog form .icon_group .hint::before,
#post_dialog form .icon_group .hint::after {
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  content: '\feff';
}
#post_dialog form .icon_group .hint::before {
  right: -10px;
  border-color: transparent transparent transparent #b1a6c4;
}
#post_dialog form .icon_group .hint::after {
  right: -8px;
  border-color: transparent transparent transparent #dacfed;
}
#post_dialog form .icon_group .hint.bubbling {
  animation: hint_bubble 2s ease-in-out forwards;
}
#post_dialog form .icon_group.extend {
  height: 168px;
  opacity: 1;
  visibility: visible;
}
#post_dialog form .icon_group.extend > div {
  height: 45px;
}
#post_dialog form .icon_group.bump {
  transition: height 400ms cubic-bezier(0.45, 1.36, 0.97, 1.17);
}
#post_dialog form textarea {
  width: calc(93%);
  height: 392px;
  padding: 20px;
  border: 0;
  font-size: 12px;
  line-height: 2em;
  transition: all 300ms;
}
#post_dialog #emoji_box {
  height: 185px;
  position: relative;
}
#post_dialog #emoji_box ul {
  top: 0;
  left: -500px;
  height: 155px;
  width: 545px;
  padding: 4px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: all 300ms;
}
#post_dialog #emoji_box ul.g-show {
  left: 0;
  opacity: 1;
  visibility: visible;
}
#post_dialog #emoji_box ul li {
  border-radius: 3px;
  padding: 3px;
  float: left;
  position: relative;
  transition: all 200ms;
}
#post_dialog #emoji_box ul li:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 5;
}
#post_dialog #emoji_box ul li:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#post_dialog #emoji_box ul li:active button {
  transform: scale(1.05);
}
#post_dialog #emoji_box ul li button {
  border: 0;
  background-color: transparent;
  box-shadow: 0;
  display: block;
  transition: all 200ms;
}
#post_dialog #emoji_box nav {
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #c0b5d3;
  position: absolute;
}
#post_dialog #emoji_box nav li {
  padding: 0 5px;
  color: #5E4092;
  font-size: 20px;
  line-height: 40px;
  float: left;
  transition: all 200ms;
  cursor: pointer;
}
#post_dialog #emoji_box nav li:hover {
  color: #3A265D;
}
#post_dialog #emoji_box nav li.cancel {
  padding: 0 10px;
  color: #3A265D;
  float: right;
}
#post_dialog #emoji_box nav li.cancel:hover {
  color: #16092D;
}
#post_dialog .close_dialog {
  top: 10px;
  right: 0;
  color: #3c324d;
  position: absolute;
  transform: rotate(180);
  visibility: hidden;
  transition: all 300ms;
  opacity: 0;
  cursor: pointer;
}
#post_dialog.fold form textarea {
  height: 207px;
}
.s_select {
  width: auto;
  position: relative;
}
.s_select select {
  display: none;
}
.s_select .s_choosen {
  width: auto;
  height: 26px;
  padding: 0;
  text-align: left;
  background: white;
  border: 0;
  outline: none;
  position: relative;
}
.s_select .s_choosen::after {
  content: '\feff';
  top: 13px;
  right: -9px;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #2c184f transparent transparent transparent;
  display: block;
  position: absolute;
}
.s_select .s_choosen:hover::after {
  border-color: #c0b5d3 transparent transparent transparent;
}
.s_select .s_select_body {
  top: 22px;
  left: 0;
  height: 0;
  width: 80px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}
.s_select .s_select_body li {
  padding: 5px 6px;
  cursor: pointer;
  transition: all 300ms;
}
.s_select .s_select_body li:hover {
  background: #deedf1;
  color: white;
}
.s_select .s_select_body li:hover.orange {
  background: #ff9800;
}
.s_select .s_select_body li:hover.deep_orange {
  background: #ff5722;
}
.s_select .s_select_body li:hover.red {
  background: #f44336;
}
.s_select .s_select_body li:hover.pink {
  background: #e91e63;
}
.s_select .s_select_body li:hover.purple {
  background: #9c27b0;
}
.s_select .s_select_body li:hover.deep_purple {
  background: #673ab7;
}
.s_select .s_select_body li:hover.indigo {
  background: #3f51b5;
}
.s_select .s_select_body li:hover.blue {
  background: #2196f3;
}
.s_select .s_select_body li:hover.light_blue {
  background: #03a9f4;
}
.s_select .s_select_body li:hover.cyan {
  background: #00bcd4;
}
.s_select .s_select_body li:hover.teal {
  background: #009688;
}
.s_select .s_select_body li:hover.green {
  background: #4caf50;
}
.s_select .s_select_body li:hover.light_green {
  background: #8bc34a;
}
.s_select .s_select_body li:hover.blue_gray {
  background: #607d8b;
}
.s_select .s_select_body li.keyboard:hover {
  background: transparent;
}
.s_select .s_select_body li.selected {
  background: #deedf1 !important;
}
.s_select .s_select_body.selected {
  height: auto;
  border-color: #c0b5d3;
  background: rgba(255, 255, 255, 0.8);
}
.float_icon {
  right: 50px;
  bottom: 50px;
  width: 65px;
  height: 65px;
  position: fixed;
  z-index: 5;
}
.float_icon > i {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: background 300ms ease-in-out, bottom 400ms;
  cursor: pointer;
}
.float_icon > i:active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.float_icon.show {
  transition-timing-function: cubic-bezier(0.45, 1.36, 0.97, 1.17);
}
.float_icon.hide {
  bottom: -70px;
  transition: bottom 100ms;
}
.manage {
  top: 50%;
  left: 50%;
  width: 350px;
  height: 50px;
  border-radius: 3px;
  margin-top: 40px;
  margin-left: -175px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
}
.manage.up {
  margin-top: -25px;
  opacity: 1;
  visibility: visible;
  transition: all 300ms;
}
.manage.shake {
  animation: shake 20ms 14 alternate;
}
.manage > input {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
.public_warning {
  left: 0;
  width: 100%;
  bottom: 150px;
  padding: 15px 0;
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  opacity: 0;
  transition: all 300ms;
  position: fixed;
  visibility: hidden;
}
.public_warning.show {
  opacity: 1;
  visibility: visible;
}
footer {
  width: 100%;
}
.post_page #post_dialog {
  height: 300px;
  margin-top: -100px;
  transition: height 300ms, margin 300ms, opacity 300ms, margin-top 300ms;
  opacity: 0;
  visibility: hidden;
}
.post_page #post_dialog .dialog_head {
  display: none;
}
.post_page #post_dialog textarea {
  height: 300px;
}
.post_page #post_dialog.fold {
  height: 525px;
  margin-top: -262px !important;
}
.post_page #post_dialog.fold textarea {
  height: 300px;
}
.post_page #post_dialog.flow_up {
  margin-top: -150px;
  opacity: 1;
  visibility: visible;
}
.post_page #new_post > i::before {
  content: '\e80c';
}
.post_page .article_group {
  margin: 0 0 0 20px;
}
.post_page .article_group article {
  margin: 10px;
}
.post_page .article_group article .emoji {
  display: inline-block;
}
.post_page img.uploaded_image {
  max-width: 300px;
  max-height: 300px;
  border-radius: 3px;
  float: left;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.post_page img.uploaded_image:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.post_page img.uploaded_image:active {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.post_page img.uploaded_image.up {
  transform: scale(1.1);
  opacity: 0;
}
.post_page .author {
  font-size: 13px;
}
.manage_ {
  display: none;
}
.manage_menu {
  display: none;
}
.manager .manage_ {
  display: block;
}
.manager .function_list .category span {
  position: relative;
}
.manager .function_list .category span .manage_category_button {
  top: 10px;
  right: 5px;
  width: 10px;
  height: 10px;
  display: inline;
  position: absolute;
}
.manager .function_list .category span .manage_category_button::before {
  left: 50%;
  content: '\feff';
  width: 2px;
  height: 2px;
  margin-left: -1px;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  transition: all 300ms;
  visibility: hidden;
  display: inline;
}
.manager .function_list .category span .manage_category_button span {
  top: 15px;
  left: 50%;
  width: 75px;
  height: 38px;
  margin-left: -42px;
  display: block;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
  position: absolute;
}
.manager .function_list .category span .manage_category_button span::before {
  content: '\feff';
  top: -10px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -2px;
  border-color: transparent transparent white transparent;
  border-width: 6px;
  border-style: solid;
  display: block;
  position: absolute;
}
.manager .function_list .category span .manage_category_button span i {
  margin: 7px;
  display: block;
  float: left;
  color: #2c184f;
  cursor: pointer;
  transition: all 300ms;
}
.manager .function_list .category span .manage_category_button span i:hover {
  color: #3e00a4;
}
.manager .function_list .category span .manage_category_button span .hide_category::before {
  content: '\e81d';
}
.manager .function_list .category span .manage_category_button span .mute_category::before {
  content: '\e822';
}
.manager .function_list .category span .manage_category_button:hover::before {
  opacity: 1 !important;
  background: white;
  transform: scale(1.2);
}
.manager .function_list .category span .manage_category_button:hover span {
  opacity: 1;
  visibility: visible;
}
.manager .function_list .category span:hover a {
  padding-right: 25px;
}
.manager .function_list .category span:hover .manage_category_button {
  right: 12px;
}
.manager .function_list .category span:hover .manage_category_button::before {
  width: 6px;
  height: 6px;
  left: 50%;
  border-radius: 50%;
  opacity: 0.6;
  margin-left: -3px;
  transition: all 300ms;
  visibility: visible;
}
.manager .manage_menu {
  display: block;
  right: 63px;
  bottom: 110px;
  width: 42px;
  position: fixed;
  transition: all 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
}
.manager .manage_menu li {
  height: 5px;
  transition: all 400ms;
}
.manager .manage_menu li > button {
  width: 42px;
  height: 42px;
  margin: 5px 0;
  border: 0;
  border-radius: 50%;
  font-size: 20px;
  transition: all 300ms;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.manager .manage_menu li > button.sage {
  background: #795548;
}
.manager .manage_menu li > button.move {
  background: #3f51b5;
}
.manager .manage_menu li > button.delete {
  background: #ffc107;
  position: relative;
}
.manager .manage_menu li > button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.manager .manage_menu li > button:hover.sage {
  background: #835c4e;
}
.manager .manage_menu li > button:hover.move {
  background: #4558be;
}
.manager .manage_menu li > button:hover.delete {
  background: #ffc516;
}
.manager .manage_menu li > button:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.manager .manage_menu li > button:active.sage {
  background: #896052;
}
.manager .manage_menu li > button:active.move {
  background: #4d5ec1;
}
.manager .manage_menu li > button:active.delete {
  background: #ffc721;
}
.manager .manage_menu li.delete_warp .cancel_delete,
.manager .manage_menu li.delete_warp .confirm_delete {
  height: 30px;
  width: 30px;
  font-size: 16px;
  line-height: 0;
  margin: 0;
}
.manager .manage_menu li.delete_warp .cancel_warp,
.manager .manage_menu li.delete_warp .confirm_warp {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.manager .manage_menu li.delete_warp .cancel_warp button,
.manager .manage_menu li.delete_warp .confirm_warp button {
  border: 0;
  border-radius: 50%;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.manager .manage_menu li.delete_warp .cancel_warp {
  top: -42px;
  left: 5px;
  width: 30px;
  height: 124px;
  transform: rotate(-110deg);
  transition: all 500ms;
}
.manager .manage_menu li.delete_warp .cancel_warp .cancel_delete {
  background: #4caf50;
}
.manager .manage_menu li.delete_warp .cancel_warp .cancel_delete:hover {
  background: #55b559;
}
.manager .manage_menu li.delete_warp .cancel_warp .cancel_delete:active {
  background: #5cb860;
}
.manager .manage_menu li.delete_warp .confirm_warp {
  top: 10px;
  left: -48px;
  height: 30px;
  width: 135px;
  transition: all 200ms;
  transform: rotate(-20deg);
}
.manager .manage_menu li.delete_warp .confirm_warp .confirm_delete {
  background: #f44336;
}
.manager .manage_menu li.delete_warp .confirm_warp .confirm_delete:hover {
  background: #f55145;
}
.manager .manage_menu li.delete_warp .confirm_warp .confirm_delete:active {
  background: #f55a4e;
}
.manager .manage_menu li.delete_warp.need_confirm .cancel_warp,
.manager .manage_menu li.delete_warp.need_confirm .confirm_warp {
  transform: rotate(0deg);
  opacity: 1;
  visibility: visible;
}
.manager .manage_menu li.transport_warp {
  position: relative;
}
.manager .manage_menu li.transport_warp .transport_select_warp {
  top: 12px;
  left: -70px;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background: white;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all 300ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.manager .manage_menu li.transport_warp .transport_select_warp::after {
  content: '\feff';
  right: -8px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -4px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 4px;
  position: absolute;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm {
  top: 0;
  left: 5px;
  position: absolute;
  transition: all 200ms;
  opacity: 0;
  visibility: hidden;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm button {
  border: 0;
  background: none;
  font-size: 19px;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm button.cancel_transport {
  color: #4caf50;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm button.cancel_transport:hover {
  color: #55b559;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm button.cancel_transport:active {
  color: #6ec071;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm button.confirm_transport {
  color: #f44336;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm button.confirm_transport:hover {
  color: #f55145;
}
.manager .manage_menu li.transport_warp .transport_select_warp .transport_confirm button.confirm_transport:active {
  color: #f77066;
}
.manager .manage_menu li.transport_warp:hover .transport_select_warp,
.manager .manage_menu li.transport_warp.need_confirm .transport_select_warp {
  left: -95px;
  opacity: 1;
  visibility: visible;
  transition-timing-function: cubic-bezier(0.45, 1.36, 0.97, 1.17);
}
.manager .manage_menu li.transport_warp .s_select {
  opacity: 1;
  visibility: visible;
  height: 30px;
  padding-right: 30px;
  transition: all 300ms;
}
.manager .manage_menu li.transport_warp .s_select button {
  width: 80px;
  height: 30px;
  padding: 0 5px;
  border-radius: 3px;
  color: gray;
  font-size: 12px;
}
.manager .manage_menu li.transport_warp .s_select button::after {
  right: 7px;
}
.manager .manage_menu li.transport_warp .s_select .s_select_body {
  top: 5px;
  position: relative;
  background: white;
  border: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.manager .manage_menu li.transport_warp .s_select .s_select_body li {
  height: 20px;
  font-size: 12px;
}
.manager .manage_menu li.transport_warp.need_confirm .transport_confirm {
  opacity: 1;
  visibility: visible;
}
.manager .manage_menu li.transport_warp.need_confirm .s_select {
  opacity: 0;
  visibility: hidden;
}
.manager .manage_menu.extend .transport_warp .s_select {
  left: -105px;
  opacity: 1;
  visibility: visible;
  transition-timing-function: cubic-bezier(0.45, 1.36, 0.97, 1.17);
}
.manager .float_icon i::before {
  content: '\e80d' !important;
}
.manager .float_icon:hover i::before,
.manager .float_icon.extend i::before {
  content: '\e800' !important;
}
.manager .float_icon:hover .manage_menu,
.manager .float_icon.extend .manage_menu {
  bottom: 120px;
  opacity: 1;
  visibility: visible;
}
.manager .float_icon:hover .manage_menu li,
.manager .float_icon.extend .manage_menu li {
  height: 52px;
  transition-timing-function: cubic-bezier(0.45, 1.36, 0.97, 1.17);
}
.manager.post_page .float_icon:hover i::before {
  content: '\e80c' !important;
}
@media only screen and (max-width: 550px) {
  #post_dialog {
    left: 0;
    top: 250px;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #post_dialog textarea {
    height: calc(100% - 68px) !important;
  }
  #post_dialog .close_dialog {
    right: 10px;
    transform: rotate(0);
    opacity: 1;
    visibility: visible;
  }
  #post_dialog.fold textarea {
    height: calc(100% - 293px) !important;
  }
  .post_page #post_dialog {
    left: 0;
    top: 150px;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .post_page #post_dialog textarea {
    height: calc(100%) !important;
  }
  .post_page #post_dialog.fold textarea {
    height: calc(100% - 225px) !important;
  }
}
.lightbox .darkness {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms;
}
.lightbox .image {
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;
  border-radius: 3px;
  display: inline;
  transform: scale(1.4);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 400ms, transform 400ms;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.lightbox.up .darkness {
  opacity: 1;
  visibility: visible;
}
.lightbox.up .image {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.lbox {
  transform: scale(1);
  opacity: 1;
  transition: all 400ms;
}
.lbox .up {
  opacity: 0;
  transform: scale(1.4);
}
