@import url('webfonts/board.css');

@keyframes flow_up_f {
  from {
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
  }
  to {
    margin-top: -250px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes flow_down_f {
  to {
    margin-top: -200px;
    opacity: 0;
    visibility: hidden;
  }
  from {
    margin-top: -250px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes flow_up_f_inpost {
  from {
    margin-top: -150px;
    opacity: 0;
    visibility: hidden;
  }
  to {
    margin-top: -150px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes flow_down_f_inpost {
  to {
    margin-top: -150px;
    opacity: 0;
    visibility: hidden;
  }
  from {
    margin-top: -150px;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes upload_icon_error_gray {
  0% {
    background: #607d8b;
  }
  50% {
    background: #f44336;
  }
  100% {
    background: #607d8b;
  }
}

@keyframes upload_icon_error_green {
  0% {
    background: #4caf50;
  }
  50% {
    background: #f44336;
  }
  100% {
    background: #4caf50;
  }
}

@keyframes hint_bubble {
  0% {
    left: -240px;
    opacity: 0;
    visibility: hidden;
  }
  20% {
    left: -215px;
    opacity: 1;
    visibility: visible;
  }
  80% {
    left: -215px;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: -240px;
    opacity: 0;
    visibility: hidden;
  }
}

#main {
  margin: 30px;
  .post {
    padding: 10px;
    border-bottom: 1px dashed #c0b5d3;
    color: #3c324d;
    font-size: 14px;
    line-height: 1.5em;
    transition: all 300ms;

    .title {
      font-size: 18px;
      text-decoration: none;
      color: #20113c;

      &:hover {
        color: #3e00a4;
      }
    }

    .time {
      width: 90px;
      border-radius: 3px;
      margin-top: -2px;
      margin-right: 10px;
      font-size: 12px;
      line-height: 2em;
      text-align: center;
      float: right;
      background: #d7cceb;
      display: block;
    }

    &:hover {
      background: #ece8f5;
      .title {
        color: #3e00a4;

        &:hover {
          color: #5c00ff;
        }
      }

      .time {
        background: #c0b5d3;
      }
    }
  }
}

#new_post {
  background: #fd9b00;

  &:hover {
    background: lighten(#fd9b00, 10%);
  }

  i {
    margin: 0 0 0 15px;
    color: white;
    font-size: 25px;
    line-height: 62px;
    display: block;

    &::before {
      content: '\e800';
    }
  }
}

#post_dialog {
  top: 50%;
  left: 50%;
  width: 550px;
  height: 500px;
  margin: -250px 0 0 -275px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
  overflow: hidden;
  position: fixed;
  z-index: 5;

  margin-top: -200px;
  opacity: 0;
  visibility: hidden;

  &.flow_up {
    animation: flow_up_f 300ms ease-in-out forwards;
  }

  &.flow_down {
    animation: flow_down_f 300ms ease-in-out forwards;
  }

  form {
    width: 100%;
    height: 100%;
    font-size: 12px;

    input[name=title] {
      width: calc(100% - 7px);
      height: 2em;
      padding: 20px 20px;
      line-height: 1em;
      border: none;
      border-bottom: 1px solid #c0b5d3;
      display: block;
    }

    button[type=submit] {
      right: 0;
      bottom: 0;
      background: transparent !important;
      position: relative;
      transition: all 400ms linear;

      &.lock {
        opacity: 0.5;
      }

      &.fly {
        right: -30px;
        bottom: 28px;
        opacity: 0;
      }
    }

    .icon-menu {
      right: 10px;
      bottom: 10px;
      width: 3em;
      height: 3em;
      padding: 5px;
      margin: 0;
      background: white;
      border-radius: 100%;
      border: 0;
      color: #3c324d;
      font-size: 18px;
      display: block;
      position: absolute;
      opacity: 1;
      visibility: visible;
      transition: all 300ms linear;

      &.hide {
        opacity: 0;
        visibility: hidden;
      }

      &.up {
        bottom: 195px;
      }
    }

    .icon_group {
      right: 15px;
      height: 45px;
      bottom: 10px;
      opacity: 0;
      transition: all 500ms;
      position: absolute;
      visibility: hidden;

      &.up {
        bottom: 195px;
      }

      button {
        width: 3em;
        height: 3em;
        padding: 5px;
        border: 0;
        border-radius: 100%;
        font-size: 15px;

      }

      > div {
        height: 0;
        padding: 5px 0;
        transition: all 300ms;
        position: relative;

        input[type='file'] {
          top: 4px;
          left: 0;
          width: 45px;
          height: 48px;
          border-radius: 100%;
          opacity: 0;
          position: absolute;
        }

        .icon-smile {
          background: #ff5722;
        }

        .icon-picture {
          background: #607d8b;

          &.selected {
            background: #4caf50;
          }

          &.shine_gray {
            animation: upload_icon_error_gray 1s 2 ease-in-out forwards;
          }

          &.shine_green {
            animation: upload_icon_error_green 1s 2 ease-in-out forwards;
          }
        }

        .colorful_icon {
          color: white;
          transition: all 300ms;
        }

        &:hover {

          .icon-smile {
            background: lighten(#ff5722, 10%);
          }

          .icon-picture {
            background: lighten(#607d8b, 10%);

            &.selected {
              background: lighten(#4caf50, 10%);
            }
          }
        }
      }

      .icon_cotainer {
        .colorful_icon {
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
        }

        &:active {
          .colorful_icon {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26), 0 8px 17px 0 rgba(0, 0, 0, .2);
          }
        }
      }

      .upload_warp {
        .image_preview {
          height: 0;
          width: 0;
          position: absolute;

          img {
            max-height: 165px;
            max-width: 150px;
            top: -35px;
            right: 10px;
            border: 1px solid #b1a6c4;
            border-radius: 3px;
            box-shadow: 0 2px 5px rgba(137, 78, 263, 0.5);
            opacity: 0;
            transition: all 200ms;
            position: absolute;
            visibility: hidden;
          }
        }

        &.selected {
          &:hover {
            .upload_cancel {
              transform: rotate(90deg);
              opacity: 1;

              .icon-calcel {
                transform: rotate(-90deg);
              }
            }

            img {
              right: 20px;
              opacity: 1;
              visibility: visible;
            }
          }

        }

        .upload_cancel {
          left: -39px;
          width: 121px;
          height: 30px !important;
          margin-top: 3px;
          position: absolute;

          transform: rotate(0deg);
          opacity: 0;
          transition: all 200ms;
          .icon-cancel {
            width: 30px;
            height: 30px;
            font-size: 13px;
            background: #f44336;
            transform: rotate(-90deg);
          }
        }
      }

      .hint {
        top: -3px;
        left: -240px;
        width: 170px;
        height: auto !important;
        padding: 10px;
        border: 1px solid #b1a6c4;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(137, 78, 263, 0.5);
        background: #dacfed;
        color: #16092D;
        font-size: 13px;
        line-height: 20px;
        position: absolute;
        opacity: 0;
        visibility: hidden;

        &::before, &::after {
          top: 50%;
          width: 0;
          height: 0;
          margin-top: -3px;
          border-width: 5px;
          border-style: solid;
          position: absolute;
          content: '\feff';
        }

        &::before {
          right: -10px;
          border-color: transparent transparent transparent #b1a6c4;
        }
        &::after {
          right: -8px;
          border-color: transparent transparent transparent #dacfed;
        }

        &.bubbling {
          animation: hint_bubble 2s ease-in-out forwards;
        }
      }

      &.extend {
        height: 168px;
        opacity: 1;
        visibility: visible;
        > div {
          height: 45px;
        }
      }
      &.bump {
        transition: height 400ms cubic-bezier(0.45, 1.36, 0.97, 1.17);
      }
    }

    textarea {
      width: calc(100% - 7px);
      height: 392px;
      padding: 20px;
      border: 0;
      font-size: 12px;
      line-height: 2em;
      transition: all 300ms;
    }
  }

  #emoji_box {
    height: 185px;
    position: relative;

    ul {
      top: 0;
      left: -500px;
      height: 155px;
      width: 545px;
      padding: 4px;
      opacity: 0;
      position: absolute;
      visibility: hidden;
      transition: all 300ms;

      &.g-show {
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      li {
        border-radius: 3px;
        padding: 3px;
        float: left;
        position: relative;
        transition: all 200ms;

        &:hover {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          z-index: 5;
        }
        &:active {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

          button {
            transform: scale(1.05);
          }
        }

        button {
          border: 0;
          background-color: transparent;
          box-shadow: 0;
          display: block;
          transition: all 200ms;
        }
      }
    }

    nav {
      bottom: 0;
      width: 100%;
      height: 40px;
      background: #c0b5d3;
      position: absolute;

      li {
        padding: 0 5px;
        color: #5E4092;
        font-size: 20px;
        line-height: 40px;
        float: left;
        transition: all 200ms;
        cursor: pointer;

        &:hover {
          color: #3A265D;
        }

        &.cancel {
          padding: 0 10px;
          color: #3A265D;
          float: right;

          &:hover {
            color: #16092D;
          }
        }
      }
    }
  }

  .close_dialog {
    top: 10px;
    right: 0;
    color: #3c324d;
    position: absolute;
    transform: rotate(180);
    visibility: hidden;
    transition: all 300ms;
    opacity: 0;
    cursor: pointer;
  }

  &.fold {
    form {
      textarea {
        height: 207px;
      }
    }
  }
}

.float_icon {
  right: 50px;
  bottom: 50px;
  width: 65px;
  height: 65px;
  background-size: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
  transition: background 300ms ease-in-out, bottom 400ms;
  position: fixed;
  z-index: 5;
  cursor: pointer;

  &:active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26), 0 8px 17px 0 rgba(0, 0, 0, .2);
  }

  &.show {
    transition-timing-function: cubic-bezier(0.45, 1.36, 0.97, 1.17);
  }

  &.hide {
    bottom: -70px;
    transition: bottom 100ms;
  }
}

footer {
  width: 100%;
}

.post_page {
  #post_dialog {
    height: 300px;
    margin-top: -150px;
    transition: height, margin 300ms;
    opacity: 0;
    visibility: hidden;

    input[name='title'] {
      display: none;
    }
    textarea {
      height: 300px;
    }

    &.fold {
      height: 525px;
      margin-top: -262px !important;
      textarea {
        height: 300px;
      }
    }

    &.flow_up {
      animation: flow_up_f_inpost 300ms ease-in-out forwards;
    }

    &.flow_down {
      animation: flow_down_f_inpost 300ms ease-in-out forwards;
    }
  }

  #new_post {
    > i {
      &::before {
        content: '\e80c';
      }
    }
  }

  .article_group {
    margin: 0 0 0 20px;
    article {
      margin: 10px;

      .emoji {
        display: inline-block;
      }
    }
  }

  img.uploaded_image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 3px;
    float: left;
    transition: all 0.3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    &:active {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }

  .author {
    font-size: 13px;
  }
}

@media only screen and (max-width: 550px) {
  #post_dialog {
    left: 0;
    top: 250px;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    textarea {
      height: ~"calc(100% - 68px)" !important;
    }

    .close_dialog {
      right: 10px;
      transform: rotate(0);
      opacity: 1;
      visibility: visible;
    }

    &.fold {
      textarea {
        height: ~"calc(100% - 293px)" !important;
      }
    }
  }

  .post_page {
    #post_dialog {
      left: 0;
      top: 150px;
      margin: 0 0 0 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      textarea {
        height: ~"calc(100%)" !important;
      }

      &.fold {
        textarea {
          height: ~"calc(100% - 225px)" !important;
        }
      }
    }
  }
}

.lightbox {
  * {
    transition: all 400ms;
  }
  .darkness {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    opacity: 0;
    visibility: hidden;
  }

  .image {
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 3px;
    display: inline;
    transform: scale(1.4);
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &.up {
    .darkness {
      opacity: 1;
      visibility: visible;
    }

    .image {
      opacity: 1;
      transform: scale(1);
      visibility: visible;
    }
  }
}

.lbox {
  transform: scale(1);
  opacity: 1;
  transition: all 400ms;
  .up {
    opacity: 0;
    transform: scale(1.4);
  }
}