.emoji .sprite-0023-20e3 {
    background-position: 0 -28px
}

.emoji .sprite-0030-20e3 {
    background-position: 0 -55px
}

.emoji .sprite-0031-20e3 {
    background-position: 0 -82px
}

.emoji .sprite-0032-20e3 {
    background-position: 0 -109px
}

.emoji .sprite-0033-20e3 {
    background-position: 0 -137px
}

.emoji .sprite-0034-20e3 {
    background-position: 0 -164px
}

.emoji .sprite-0035-20e3 {
    background-position: 0 -191px
}

.emoji .sprite-0036-20e3 {
    background-position: 0 -218px
}

.emoji .sprite-0037-20e3 {
    background-position: 0 -245px
}

.emoji .sprite-0038-20e3 {
    background-position: 0 -273px
}

.emoji .sprite-0039-20e3 {
    background-position: 0 -300px
}

.emoji .sprite-00a9 {
    background-position: 0 -327px
}

.emoji .sprite-00ae {
    background-position: 0 -354px
}

.emoji .sprite-1f004 {
    background-position: 0 -382px
}

.emoji .sprite-1f0cf {
    background-position: 0 -409px
}

.emoji .sprite-1f170 {
    background-position: 0 -436px
}

.emoji .sprite-1f171 {
    background-position: 0 -463px
}

.emoji .sprite-1f17e {
    background-position: 0 -490px
}

.emoji .sprite-1f17f {
    background-position: 0 -518px
}

.emoji .sprite-1f18e {
    background-position: 0 -545px
}

.emoji .sprite-1f191 {
    background-position: 0 -572px
}

.emoji .sprite-1f192 {
    background-position: 0 -599px
}

.emoji .sprite-1f193 {
    background-position: 0 -627px
}

.emoji .sprite-1f194 {
    background-position: 0 -654px
}

.emoji .sprite-1f195 {
    background-position: 0 -681px
}

.emoji .sprite-1f196 {
    background-position: 0 -708px
}

.emoji .sprite-1f197 {
    background-position: 0 -735px
}

.emoji .sprite-1f198 {
    background-position: 0 -763px
}

.emoji .sprite-1f199 {
    background-position: 0 -790px
}

.emoji .sprite-1f19a {
    background-position: 0 -817px
}

.emoji .sprite-1f1e8-1f1f3 {
    background-position: 0 -844px
}

.emoji .sprite-1f1e9-1f1ea {
    background-position: 0 -871px
}

.emoji .sprite-1f1ea-1f1f8 {
    background-position: 0 -899px
}

.emoji .sprite-1f1eb-1f1f7 {
    background-position: 0 -926px
}

.emoji .sprite-1f1ec-1f1e7 {
    background-position: 0 -953px
}

.emoji .sprite-1f1ee-1f1f9 {
    background-position: 0 -980px
}

.emoji .sprite-1f1ef-1f1f5 {
    background-position: 0 -1008px
}

.emoji .sprite-1f1f0-1f1f7 {
    background-position: 0 -1035px
}

.emoji .sprite-1f1f7-1f1fa {
    background-position: 0 -1062px
}

.emoji .sprite-1f1fa-1f1f8 {
    background-position: 0 -1089px
}

.emoji .sprite-1f201 {
    background-position: 0 -1116px
}

.emoji .sprite-1f202 {
    background-position: 0 -1144px
}

.emoji .sprite-1f21a {
    background-position: 0 -1171px
}

.emoji .sprite-1f22f {
    background-position: 0 -1198px
}

.emoji .sprite-1f232 {
    background-position: 0 -1225px
}

.emoji .sprite-1f233 {
    background-position: 0 -1253px
}

.emoji .sprite-1f234 {
    background-position: 0 -1280px
}

.emoji .sprite-1f235 {
    background-position: 0 -1307px
}

.emoji .sprite-1f236 {
    background-position: 0 -1334px
}

.emoji .sprite-1f237 {
    background-position: 0 -1361px
}

.emoji .sprite-1f238 {
    background-position: 0 -1389px
}

.emoji .sprite-1f239 {
    background-position: 0 -1416px
}

.emoji .sprite-1f23a {
    background-position: 0 -1443px
}

.emoji .sprite-1f250 {
    background-position: 0 -1470px
}

.emoji .sprite-1f251 {
    background-position: 0 -1498px
}

.emoji .sprite-1f300 {
    background-position: 0 -1525px
}

.emoji .sprite-1f301 {
    background-position: 0 -1552px
}

.emoji .sprite-1f302 {
    background-position: 0 -1579px
}

.emoji .sprite-1f303 {
    background-position: 0 -1606px
}

.emoji .sprite-1f304 {
    background-position: 0 -1634px
}

.emoji .sprite-1f305 {
    background-position: 0 -1661px
}

.emoji .sprite-1f306 {
    background-position: 0 -1688px
}

.emoji .sprite-1f307 {
    background-position: 0 -1715px
}

.emoji .sprite-1f308 {
    background-position: 0 -1742px
}

.emoji .sprite-1f309 {
    background-position: 0 -1770px
}

.emoji .sprite-1f30a {
    background-position: 0 -1797px
}

.emoji .sprite-1f30b {
    background-position: 0 -1824px
}

.emoji .sprite-1f30c {
    background-position: 0 -1851px
}

.emoji .sprite-1f30d {
    background-position: 0 -1879px
}

.emoji .sprite-1f30e {
    background-position: 0 -1906px
}

.emoji .sprite-1f30f {
    background-position: 0 -1933px
}

.emoji .sprite-1f310 {
    background-position: 0 -1960px
}

.emoji .sprite-1f311 {
    background-position: 0 -1987px
}

.emoji .sprite-1f312 {
    background-position: 0 -2015px
}

.emoji .sprite-1f313 {
    background-position: 0 -2042px
}

.emoji .sprite-1f314 {
    background-position: 0 -2069px
}

.emoji .sprite-1f315 {
    background-position: 0 -2096px
}

.emoji .sprite-1f316 {
    background-position: 0 -2124px
}

.emoji .sprite-1f317 {
    background-position: 0 -2151px
}

.emoji .sprite-1f318 {
    background-position: 0 -2178px
}

.emoji .sprite-1f319 {
    background-position: 0 -2205px
}

.emoji .sprite-1f31a {
    background-position: 0 -2232px
}

.emoji .sprite-1f31b {
    background-position: 0 -2260px
}

.emoji .sprite-1f31c {
    background-position: 0 -2287px
}

.emoji .sprite-1f31d {
    background-position: 0 -2314px
}

.emoji .sprite-1f31e {
    background-position: 0 -2341px
}

.emoji .sprite-1f31f {
    background-position: 0 -2369px
}

.emoji .sprite-1f320 {
    background-position: 0 -2396px
}

.emoji .sprite-1f330 {
    background-position: 0 -2423px
}

.emoji .sprite-1f331 {
    background-position: 0 -2450px
}

.emoji .sprite-1f332 {
    background-position: 0 -2477px
}

.emoji .sprite-1f333 {
    background-position: 0 -2505px
}

.emoji .sprite-1f334 {
    background-position: 0 -2532px
}

.emoji .sprite-1f335 {
    background-position: 0 -2559px
}

.emoji .sprite-1f337 {
    background-position: 0 -2586px
}

.emoji .sprite-1f338 {
    background-position: 0 -2613px
}

.emoji .sprite-1f339 {
    background-position: 0 -2641px
}

.emoji .sprite-1f33a {
    background-position: 0 -2668px
}

.emoji .sprite-1f33b {
    background-position: 0 -2695px
}

.emoji .sprite-1f33c {
    background-position: 0 -2722px
}

.emoji .sprite-1f33d {
    background-position: 0 -2750px
}

.emoji .sprite-1f33e {
    background-position: 0 -2777px
}

.emoji .sprite-1f33f {
    background-position: 0 -2804px
}

.emoji .sprite-1f340 {
    background-position: 0 -2831px
}

.emoji .sprite-1f341 {
    background-position: 0 -2858px
}

.emoji .sprite-1f342 {
    background-position: 0 -2886px
}

.emoji .sprite-1f343 {
    background-position: 0 -2913px
}

.emoji .sprite-1f344 {
    background-position: 0 -2940px
}

.emoji .sprite-1f345 {
    background-position: 0 -2967px
}

.emoji .sprite-1f346 {
    background-position: 0 -2995px
}

.emoji .sprite-1f347 {
    background-position: 0 -3022px
}

.emoji .sprite-1f348 {
    background-position: 0 -3049px
}

.emoji .sprite-1f349 {
    background-position: 0 -3076px
}

.emoji .sprite-1f34a {
    background-position: 0 -3103px
}

.emoji .sprite-1f34b {
    background-position: 0 -3131px
}

.emoji .sprite-1f34c {
    background-position: 0 -3158px
}

.emoji .sprite-1f34d {
    background-position: 0 -3185px
}

.emoji .sprite-1f34e {
    background-position: 0 -3212px
}

.emoji .sprite-1f34f {
    background-position: 0 -3240px
}

.emoji .sprite-1f350 {
    background-position: 0 -3267px
}

.emoji .sprite-1f351 {
    background-position: 0 -3294px
}

.emoji .sprite-1f352 {
    background-position: 0 -3321px
}

.emoji .sprite-1f353 {
    background-position: 0 -3348px
}

.emoji .sprite-1f354 {
    background-position: 0 -3376px
}

.emoji .sprite-1f355 {
    background-position: 0 -3403px
}

.emoji .sprite-1f356 {
    background-position: 0 -3430px
}

.emoji .sprite-1f357 {
    background-position: 0 -3457px
}

.emoji .sprite-1f358 {
    background-position: 0 -3484px
}

.emoji .sprite-1f359 {
    background-position: 0 -3512px
}

.emoji .sprite-1f35a {
    background-position: 0 -3539px
}

.emoji .sprite-1f35b {
    background-position: 0 -3566px
}

.emoji .sprite-1f35c {
    background-position: 0 -3593px
}

.emoji .sprite-1f35d {
    background-position: 0 -3621px
}

.emoji .sprite-1f35e {
    background-position: 0 -3648px
}

.emoji .sprite-1f35f {
    background-position: 0 -3675px
}

.emoji .sprite-1f360 {
    background-position: 0 -3702px
}

.emoji .sprite-1f361 {
    background-position: 0 -3729px
}

.emoji .sprite-1f362 {
    background-position: 0 -3757px
}

.emoji .sprite-1f363 {
    background-position: 0 -3784px
}

.emoji .sprite-1f364 {
    background-position: 0 -3811px
}

.emoji .sprite-1f365 {
    background-position: 0 -3838px
}

.emoji .sprite-1f366 {
    background-position: 0 -3866px
}

.emoji .sprite-1f367 {
    background-position: 0 -3893px
}

.emoji .sprite-1f368 {
    background-position: 0 -3920px
}

.emoji .sprite-1f369 {
    background-position: 0 -3947px
}

.emoji .sprite-1f36a {
    background-position: 0 -3974px
}

.emoji .sprite-1f36b {
    background-position: 0 -4002px
}

.emoji .sprite-1f36c {
    background-position: 0 -4029px
}

.emoji .sprite-1f36d {
    background-position: 0 -4056px
}

.emoji .sprite-1f36e {
    background-position: 0 -4083px
}

.emoji .sprite-1f36f {
    background-position: 0 -4111px
}

.emoji .sprite-1f370 {
    background-position: 0 -4138px
}

.emoji .sprite-1f371 {
    background-position: 0 -4165px
}

.emoji .sprite-1f372 {
    background-position: 0 -4192px
}

.emoji .sprite-1f373 {
    background-position: 0 -4219px
}

.emoji .sprite-1f374 {
    background-position: 0 -4247px
}

.emoji .sprite-1f375 {
    background-position: 0 -4274px
}

.emoji .sprite-1f376 {
    background-position: 0 -4301px
}

.emoji .sprite-1f377 {
    background-position: 0 -4328px
}

.emoji .sprite-1f378 {
    background-position: 0 -4355px
}

.emoji .sprite-1f379 {
    background-position: 0 -4383px
}

.emoji .sprite-1f37a {
    background-position: 0 -4410px
}

.emoji .sprite-1f37b {
    background-position: 0 -4437px
}

.emoji .sprite-1f37c {
    background-position: 0 -4464px
}

.emoji .sprite-1f380 {
    background-position: 0 -4492px
}

.emoji .sprite-1f381 {
    background-position: 0 -4519px
}

.emoji .sprite-1f382 {
    background-position: 0 -4546px
}

.emoji .sprite-1f383 {
    background-position: 0 -4573px
}

.emoji .sprite-1f384 {
    background-position: 0 -4600px
}

.emoji .sprite-1f385 {
    background-position: 0 -4628px
}

.emoji .sprite-1f386 {
    background-position: 0 -4655px
}

.emoji .sprite-1f387 {
    background-position: 0 -4682px
}

.emoji .sprite-1f388 {
    background-position: 0 -4709px
}

.emoji .sprite-1f389 {
    background-position: 0 -4737px
}

.emoji .sprite-1f38a {
    background-position: 0 -4764px
}

.emoji .sprite-1f38b {
    background-position: 0 -4791px
}

.emoji .sprite-1f38c {
    background-position: 0 -4818px
}

.emoji .sprite-1f38d {
    background-position: 0 -4845px
}

.emoji .sprite-1f38e {
    background-position: 0 -4873px
}

.emoji .sprite-1f38f {
    background-position: 0 -4900px
}

.emoji .sprite-1f390 {
    background-position: 0 -4927px
}

.emoji .sprite-1f391 {
    background-position: 0 -4954px
}

.emoji .sprite-1f392 {
    background-position: 0 -4982px
}

.emoji .sprite-1f393 {
    background-position: 0 -5009px
}

.emoji .sprite-1f3a0 {
    background-position: 0 -5036px
}

.emoji .sprite-1f3a1 {
    background-position: 0 -5063px
}

.emoji .sprite-1f3a2 {
    background-position: 0 -5090px
}

.emoji .sprite-1f3a3 {
    background-position: 0 -5118px
}

.emoji .sprite-1f3a4 {
    background-position: 0 -5145px
}

.emoji .sprite-1f3a5 {
    background-position: 0 -5172px
}

.emoji .sprite-1f3a6 {
    background-position: 0 -5199px
}

.emoji .sprite-1f3a7 {
    background-position: 0 -5226px
}

.emoji .sprite-1f3a8 {
    background-position: 0 -5254px
}

.emoji .sprite-1f3a9 {
    background-position: 0 -5281px
}

.emoji .sprite-1f3aa {
    background-position: 0 -5308px
}

.emoji .sprite-1f3ab {
    background-position: 0 -5335px
}

.emoji .sprite-1f3ac {
    background-position: 0 -5363px
}

.emoji .sprite-1f3ad {
    background-position: 0 -5390px
}

.emoji .sprite-1f3ae {
    background-position: 0 -5417px
}

.emoji .sprite-1f3af {
    background-position: 0 -5444px
}

.emoji .sprite-1f3b0 {
    background-position: 0 -5471px
}

.emoji .sprite-1f3b1 {
    background-position: 0 -5499px
}

.emoji .sprite-1f3b2 {
    background-position: 0 -5526px
}

.emoji .sprite-1f3b3 {
    background-position: 0 -5553px
}

.emoji .sprite-1f3b4 {
    background-position: 0 -5580px
}

.emoji .sprite-1f3b5 {
    background-position: 0 -5608px
}

.emoji .sprite-1f3b6 {
    background-position: 0 -5635px
}

.emoji .sprite-1f3b7 {
    background-position: 0 -5662px
}

.emoji .sprite-1f3b8 {
    background-position: 0 -5689px
}

.emoji .sprite-1f3b9 {
    background-position: 0 -5716px
}

.emoji .sprite-1f3ba {
    background-position: 0 -5744px
}

.emoji .sprite-1f3bb {
    background-position: 0 -5771px
}

.emoji .sprite-1f3bc {
    background-position: 0 -5798px
}

.emoji .sprite-1f3bd {
    background-position: 0 -5825px
}

.emoji .sprite-1f3be {
    background-position: 0 -5853px
}

.emoji .sprite-1f3bf {
    background-position: 0 -5880px
}

.emoji .sprite-1f3c0 {
    background-position: 0 -5907px
}

.emoji .sprite-1f3c1 {
    background-position: 0 -5934px
}

.emoji .sprite-1f3c2 {
    background-position: 0 -5961px
}

.emoji .sprite-1f3c3 {
    background-position: 0 -5989px
}

.emoji .sprite-1f3c4 {
    background-position: 0 -6016px
}

.emoji .sprite-1f3c6 {
    background-position: 0 -6043px
}

.emoji .sprite-1f3c7 {
    background-position: 0 -6070px
}

.emoji .sprite-1f3c8 {
    background-position: 0 -6097px
}

.emoji .sprite-1f3c9 {
    background-position: 0 -6125px
}

.emoji .sprite-1f3ca {
    background-position: 0 -6152px
}

.emoji .sprite-1f3e0 {
    background-position: 0 -6179px
}

.emoji .sprite-1f3e1 {
    background-position: 0 -6206px
}

.emoji .sprite-1f3e2 {
    background-position: 0 -6234px
}

.emoji .sprite-1f3e3 {
    background-position: 0 -6261px
}

.emoji .sprite-1f3e4 {
    background-position: 0 -6288px
}

.emoji .sprite-1f3e5 {
    background-position: 0 -6315px
}

.emoji .sprite-1f3e6 {
    background-position: 0 -6342px
}

.emoji .sprite-1f3e7 {
    background-position: 0 -6370px
}

.emoji .sprite-1f3e8 {
    background-position: 0 -6397px
}

.emoji .sprite-1f3e9 {
    background-position: 0 -6424px
}

.emoji .sprite-1f3ea {
    background-position: 0 -6451px
}

.emoji .sprite-1f3eb {
    background-position: 0 -6479px
}

.emoji .sprite-1f3ec {
    background-position: 0 -6506px
}

.emoji .sprite-1f3ed {
    background-position: 0 -6533px
}

.emoji .sprite-1f3ee {
    background-position: 0 -6560px
}

.emoji .sprite-1f3ef {
    background-position: 0 -6587px
}

.emoji .sprite-1f3f0 {
    background-position: 0 -6615px
}

.emoji .sprite-1f400 {
    background-position: 0 -6642px
}

.emoji .sprite-1f401 {
    background-position: 0 -6669px
}

.emoji .sprite-1f402 {
    background-position: 0 -6696px
}

.emoji .sprite-1f403 {
    background-position: 0 -6724px
}

.emoji .sprite-1f404 {
    background-position: 0 -6751px
}

.emoji .sprite-1f405 {
    background-position: 0 -6778px
}

.emoji .sprite-1f406 {
    background-position: 0 -6805px
}

.emoji .sprite-1f407 {
    background-position: 0 -6832px
}

.emoji .sprite-1f408 {
    background-position: 0 -6860px
}

.emoji .sprite-1f409 {
    background-position: 0 -6887px
}

.emoji .sprite-1f40a {
    background-position: 0 -6914px
}

.emoji .sprite-1f40b {
    background-position: 0 -6941px
}

.emoji .sprite-1f40c {
    background-position: 0 -6968px
}

.emoji .sprite-1f40d {
    background-position: 0 -6996px
}

.emoji .sprite-1f40e {
    background-position: 0 -7023px
}

.emoji .sprite-1f40f {
    background-position: 0 -7050px
}

.emoji .sprite-1f410 {
    background-position: 0 -7077px
}

.emoji .sprite-1f411 {
    background-position: 0 -7105px
}

.emoji .sprite-1f412 {
    background-position: 0 -7132px
}

.emoji .sprite-1f413 {
    background-position: 0 -7159px
}

.emoji .sprite-1f414 {
    background-position: 0 -7186px
}

.emoji .sprite-1f415 {
    background-position: 0 -7213px
}

.emoji .sprite-1f416 {
    background-position: 0 -7241px
}

.emoji .sprite-1f417 {
    background-position: 0 -7268px
}

.emoji .sprite-1f418 {
    background-position: 0 -7295px
}

.emoji .sprite-1f419 {
    background-position: 0 -7322px
}

.emoji .sprite-1f41a {
    background-position: 0 -7350px
}

.emoji .sprite-1f41b {
    background-position: 0 -7377px
}

.emoji .sprite-1f41c {
    background-position: 0 -7404px
}

.emoji .sprite-1f41d {
    background-position: 0 -7431px
}

.emoji .sprite-1f41e {
    background-position: 0 -7458px
}

.emoji .sprite-1f41f {
    background-position: 0 -7486px
}

.emoji .sprite-1f420 {
    background-position: 0 -7513px
}

.emoji .sprite-1f421 {
    background-position: 0 -7540px
}

.emoji .sprite-1f422 {
    background-position: 0 -7567px
}

.emoji .sprite-1f423 {
    background-position: 0 -7595px
}

.emoji .sprite-1f424 {
    background-position: 0 -7622px
}

.emoji .sprite-1f425 {
    background-position: 0 -7649px
}

.emoji .sprite-1f426 {
    background-position: 0 -7676px
}

.emoji .sprite-1f427 {
    background-position: 0 -7703px
}

.emoji .sprite-1f428 {
    background-position: 0 -7731px
}

.emoji .sprite-1f429 {
    background-position: 0 -7758px
}

.emoji .sprite-1f42a {
    background-position: 0 -7785px
}

.emoji .sprite-1f42b {
    background-position: 0 -7812px
}

.emoji .sprite-1f42c {
    background-position: 0 -7839px
}

.emoji .sprite-1f42d {
    background-position: 0 -7867px
}

.emoji .sprite-1f42e {
    background-position: 0 -7894px
}

.emoji .sprite-1f42f {
    background-position: 0 -7921px
}

.emoji .sprite-1f430 {
    background-position: 0 -7948px
}

.emoji .sprite-1f431 {
    background-position: 0 -7976px
}

.emoji .sprite-1f432 {
    background-position: 0 -8003px
}

.emoji .sprite-1f433 {
    background-position: 0 -8030px
}

.emoji .sprite-1f434 {
    background-position: 0 -8057px
}

.emoji .sprite-1f435 {
    background-position: 0 -8084px
}

.emoji .sprite-1f436 {
    background-position: 0 -8112px
}

.emoji .sprite-1f437 {
    background-position: 0 -8139px
}

.emoji .sprite-1f438 {
    background-position: 0 -8166px
}

.emoji .sprite-1f439 {
    background-position: 0 -8193px
}

.emoji .sprite-1f43a {
    background-position: 0 -8221px
}

.emoji .sprite-1f43b {
    background-position: 0 -8248px
}

.emoji .sprite-1f43c {
    background-position: 0 -8275px
}

.emoji .sprite-1f43d {
    background-position: 0 -8302px
}

.emoji .sprite-1f43e {
    background-position: 0 -8329px
}

.emoji .sprite-1f440 {
    background-position: 0 -8357px
}

.emoji .sprite-1f442 {
    background-position: 0 -8384px
}

.emoji .sprite-1f443 {
    background-position: 0 -8411px
}

.emoji .sprite-1f444 {
    background-position: 0 -8438px
}

.emoji .sprite-1f445 {
    background-position: 0 -8466px
}

.emoji .sprite-1f446 {
    background-position: 0 -8493px
}

.emoji .sprite-1f447 {
    background-position: 0 -8520px
}

.emoji .sprite-1f448 {
    background-position: 0 -8547px
}

.emoji .sprite-1f449 {
    background-position: 0 -8574px
}

.emoji .sprite-1f44a {
    background-position: 0 -8602px
}

.emoji .sprite-1f44b {
    background-position: 0 -8629px
}

.emoji .sprite-1f44c {
    background-position: 0 -8656px
}

.emoji .sprite-1f44d {
    background-position: 0 -8683px
}

.emoji .sprite-1f44e {
    background-position: 0 -8710px
}

.emoji .sprite-1f44f {
    background-position: 0 -8738px
}

.emoji .sprite-1f450 {
    background-position: 0 -8765px
}

.emoji .sprite-1f451 {
    background-position: 0 -8792px
}

.emoji .sprite-1f452 {
    background-position: 0 -8819px
}

.emoji .sprite-1f453 {
    background-position: 0 -8847px
}

.emoji .sprite-1f454 {
    background-position: 0 -8874px
}

.emoji .sprite-1f455 {
    background-position: 0 -8901px
}

.emoji .sprite-1f456 {
    background-position: 0 -8928px
}

.emoji .sprite-1f457 {
    background-position: 0 -8955px
}

.emoji .sprite-1f458 {
    background-position: 0 -8983px
}

.emoji .sprite-1f459 {
    background-position: 0 -9010px
}

.emoji .sprite-1f45a {
    background-position: 0 -9037px
}

.emoji .sprite-1f45b {
    background-position: 0 -9064px
}

.emoji .sprite-1f45c {
    background-position: 0 -9092px
}

.emoji .sprite-1f45d {
    background-position: 0 -9119px
}

.emoji .sprite-1f45e {
    background-position: 0 -9146px
}

.emoji .sprite-1f45f {
    background-position: 0 -9173px
}

.emoji .sprite-1f460 {
    background-position: 0 -9200px
}

.emoji .sprite-1f461 {
    background-position: 0 -9228px
}

.emoji .sprite-1f462 {
    background-position: 0 -9255px
}

.emoji .sprite-1f463 {
    background-position: 0 -9282px
}

.emoji .sprite-1f464 {
    background-position: 0 -9309px
}

.emoji .sprite-1f465 {
    background-position: 0 -9337px
}

.emoji .sprite-1f466 {
    background-position: 0 -9364px
}

.emoji .sprite-1f467 {
    background-position: 0 -9391px
}

.emoji .sprite-1f468 {
    background-position: 0 -9418px
}

.emoji .sprite-1f469 {
    background-position: 0 -9445px
}

.emoji .sprite-1f46a {
    background-position: 0 -9473px
}

.emoji .sprite-1f46b {
    background-position: 0 -9500px
}

.emoji .sprite-1f46c {
    background-position: 0 -9527px
}

.emoji .sprite-1f46d {
    background-position: 0 -9554px
}

.emoji .sprite-1f46e {
    background-position: 0 -9581px
}

.emoji .sprite-1f46f {
    background-position: 0 -9609px
}

.emoji .sprite-1f470 {
    background-position: 0 -9636px
}

.emoji .sprite-1f471 {
    background-position: 0 -9663px
}

.emoji .sprite-1f472 {
    background-position: 0 -9690px
}

.emoji .sprite-1f473 {
    background-position: 0 -9718px
}

.emoji .sprite-1f474 {
    background-position: 0 -9745px
}

.emoji .sprite-1f475 {
    background-position: 0 -9772px
}

.emoji .sprite-1f476 {
    background-position: 0 -9799px
}

.emoji .sprite-1f477 {
    background-position: 0 -9826px
}

.emoji .sprite-1f478 {
    background-position: 0 -9854px
}

.emoji .sprite-1f479 {
    background-position: 0 -9881px
}

.emoji .sprite-1f47a {
    background-position: 0 -9908px
}

.emoji .sprite-1f47b {
    background-position: 0 -9935px
}

.emoji .sprite-1f47c {
    background-position: 0 -9963px
}

.emoji .sprite-1f47d {
    background-position: 0 -9990px
}

.emoji .sprite-1f47e {
    background-position: 0 -10017px
}

.emoji .sprite-1f47f {
    background-position: 0 -10044px
}

.emoji .sprite-1f480 {
    background-position: 0 -10071px
}

.emoji .sprite-1f481 {
    background-position: 0 -10099px
}

.emoji .sprite-1f482 {
    background-position: 0 -10126px
}

.emoji .sprite-1f483 {
    background-position: 0 -10153px
}

.emoji .sprite-1f484 {
    background-position: 0 -10180px
}

.emoji .sprite-1f485 {
    background-position: 0 -10208px
}

.emoji .sprite-1f486 {
    background-position: 0 -10235px
}

.emoji .sprite-1f487 {
    background-position: 0 -10262px
}

.emoji .sprite-1f488 {
    background-position: 0 -10289px
}

.emoji .sprite-1f489 {
    background-position: 0 -10316px
}

.emoji .sprite-1f48a {
    background-position: 0 -10344px
}

.emoji .sprite-1f48b {
    background-position: 0 -10371px
}

.emoji .sprite-1f48c {
    background-position: 0 -10398px
}

.emoji .sprite-1f48d {
    background-position: 0 -10425px
}

.emoji .sprite-1f48e {
    background-position: 0 -10452px
}

.emoji .sprite-1f48f {
    background-position: 0 -10480px
}

.emoji .sprite-1f490 {
    background-position: 0 -10507px
}

.emoji .sprite-1f491 {
    background-position: 0 -10534px
}

.emoji .sprite-1f492 {
    background-position: 0 -10561px
}

.emoji .sprite-1f493 {
    background-position: 0 -10589px
}

.emoji .sprite-1f494 {
    background-position: 0 -10616px
}

.emoji .sprite-1f495 {
    background-position: 0 -10643px
}

.emoji .sprite-1f496 {
    background-position: 0 -10670px
}

.emoji .sprite-1f497 {
    background-position: 0 -10697px
}

.emoji .sprite-1f498 {
    background-position: 0 -10725px
}

.emoji .sprite-1f499 {
    background-position: 0 -10752px
}

.emoji .sprite-1f49a {
    background-position: 0 -10779px
}

.emoji .sprite-1f49b {
    background-position: 0 -10806px
}

.emoji .sprite-1f49c {
    background-position: 0 -10834px
}

.emoji .sprite-1f49d {
    background-position: 0 -10861px
}

.emoji .sprite-1f49e {
    background-position: 0 -10888px
}

.emoji .sprite-1f49f {
    background-position: 0 -10915px
}

.emoji .sprite-1f4a0 {
    background-position: 0 -10942px
}

.emoji .sprite-1f4a1 {
    background-position: 0 -10970px
}

.emoji .sprite-1f4a2 {
    background-position: 0 -10997px
}

.emoji .sprite-1f4a3 {
    background-position: 0 -11024px
}

.emoji .sprite-1f4a4 {
    background-position: 0 -11051px
}

.emoji .sprite-1f4a5 {
    background-position: 0 -11079px
}

.emoji .sprite-1f4a6 {
    background-position: 0 -11106px
}

.emoji .sprite-1f4a7 {
    background-position: 0 -11133px
}

.emoji .sprite-1f4a8 {
    background-position: 0 -11160px
}

.emoji .sprite-1f4a9 {
    background-position: 0 -11187px
}

.emoji .sprite-1f4aa {
    background-position: 0 -11215px
}

.emoji .sprite-1f4ab {
    background-position: 0 -11242px
}

.emoji .sprite-1f4ac {
    background-position: 0 -11269px
}

.emoji .sprite-1f4ad {
    background-position: 0 -11296px
}

.emoji .sprite-1f4ae {
    background-position: 0 -11323px
}

.emoji .sprite-1f4af {
    background-position: 0 -11351px
}

.emoji .sprite-1f4b0 {
    background-position: 0 -11378px
}

.emoji .sprite-1f4b1 {
    background-position: 0 -11405px
}

.emoji .sprite-1f4b2 {
    background-position: 0 -11432px
}

.emoji .sprite-1f4b3 {
    background-position: 0 -11460px
}

.emoji .sprite-1f4b4 {
    background-position: 0 -11487px
}

.emoji .sprite-1f4b5 {
    background-position: 0 -11514px
}

.emoji .sprite-1f4b6 {
    background-position: 0 -11541px
}

.emoji .sprite-1f4b7 {
    background-position: 0 -11568px
}

.emoji .sprite-1f4b8 {
    background-position: 0 -11596px
}

.emoji .sprite-1f4b9 {
    background-position: 0 -11623px
}

.emoji .sprite-1f4ba {
    background-position: 0 -11650px
}

.emoji .sprite-1f4bb {
    background-position: 0 -11677px
}

.emoji .sprite-1f4bc {
    background-position: 0 -11705px
}

.emoji .sprite-1f4bd {
    background-position: 0 -11732px
}

.emoji .sprite-1f4be {
    background-position: 0 -11759px
}

.emoji .sprite-1f4bf {
    background-position: 0 -11786px
}

.emoji .sprite-1f4c0 {
    background-position: 0 -11813px
}

.emoji .sprite-1f4c1 {
    background-position: 0 -11841px
}

.emoji .sprite-1f4c2 {
    background-position: 0 -11868px
}

.emoji .sprite-1f4c3 {
    background-position: 0 -11895px
}

.emoji .sprite-1f4c4 {
    background-position: 0 -11922px
}

.emoji .sprite-1f4c5 {
    background-position: 0 -11950px
}

.emoji .sprite-1f4c6 {
    background-position: 0 -11977px
}

.emoji .sprite-1f4c7 {
    background-position: 0 -12004px
}

.emoji .sprite-1f4c8 {
    background-position: 0 -12031px
}

.emoji .sprite-1f4c9 {
    background-position: 0 -12058px
}

.emoji .sprite-1f4ca {
    background-position: 0 -12086px
}

.emoji .sprite-1f4cb {
    background-position: 0 -12113px
}

.emoji .sprite-1f4cc {
    background-position: 0 -12140px
}

.emoji .sprite-1f4cd {
    background-position: 0 -12167px
}

.emoji .sprite-1f4ce {
    background-position: 0 -12194px
}

.emoji .sprite-1f4cf {
    background-position: 0 -12222px
}

.emoji .sprite-1f4d0 {
    background-position: 0 -12249px
}

.emoji .sprite-1f4d1 {
    background-position: 0 -12276px
}

.emoji .sprite-1f4d2 {
    background-position: 0 -12303px
}

.emoji .sprite-1f4d3 {
    background-position: 0 -12331px
}

.emoji .sprite-1f4d4 {
    background-position: 0 -12358px
}

.emoji .sprite-1f4d5 {
    background-position: 0 -12385px
}

.emoji .sprite-1f4d6 {
    background-position: 0 -12412px
}

.emoji .sprite-1f4d7 {
    background-position: 0 -12439px
}

.emoji .sprite-1f4d8 {
    background-position: 0 -12467px
}

.emoji .sprite-1f4d9 {
    background-position: 0 -12494px
}

.emoji .sprite-1f4da {
    background-position: 0 -12521px
}

.emoji .sprite-1f4db {
    background-position: 0 -12548px
}

.emoji .sprite-1f4dc {
    background-position: 0 -12576px
}

.emoji .sprite-1f4dd {
    background-position: 0 -12603px
}

.emoji .sprite-1f4de {
    background-position: 0 -12630px
}

.emoji .sprite-1f4df {
    background-position: 0 -12657px
}

.emoji .sprite-1f4e0 {
    background-position: 0 -12684px
}

.emoji .sprite-1f4e1 {
    background-position: 0 -12712px
}

.emoji .sprite-1f4e2 {
    background-position: 0 -12739px
}

.emoji .sprite-1f4e3 {
    background-position: 0 -12766px
}

.emoji .sprite-1f4e4 {
    background-position: 0 -12793px
}

.emoji .sprite-1f4e5 {
    background-position: 0 -12821px
}

.emoji .sprite-1f4e6 {
    background-position: 0 -12848px
}

.emoji .sprite-1f4e7 {
    background-position: 0 -12875px
}

.emoji .sprite-1f4e8 {
    background-position: 0 -12902px
}

.emoji .sprite-1f4e9 {
    background-position: 0 -12929px
}

.emoji .sprite-1f4ea {
    background-position: 0 -12957px
}

.emoji .sprite-1f4eb {
    background-position: 0 -12984px
}

.emoji .sprite-1f4ec {
    background-position: 0 -13011px
}

.emoji .sprite-1f4ed {
    background-position: 0 -13038px
}

.emoji .sprite-1f4ee {
    background-position: 0 -13065px
}

.emoji .sprite-1f4ef {
    background-position: 0 -13093px
}

.emoji .sprite-1f4f0 {
    background-position: 0 -13120px
}

.emoji .sprite-1f4f1 {
    background-position: 0 -13147px
}

.emoji .sprite-1f4f2 {
    background-position: 0 -13174px
}

.emoji .sprite-1f4f3 {
    background-position: 0 -13202px
}

.emoji .sprite-1f4f4 {
    background-position: 0 -13229px
}

.emoji .sprite-1f4f5 {
    background-position: 0 -13256px
}

.emoji .sprite-1f4f6 {
    background-position: 0 -13283px
}

.emoji .sprite-1f4f7 {
    background-position: 0 -13310px
}

.emoji .sprite-1f4f9 {
    background-position: 0 -13338px
}

.emoji .sprite-1f4fa {
    background-position: 0 -13365px
}

.emoji .sprite-1f4fb {
    background-position: 0 -13392px
}

.emoji .sprite-1f4fc {
    background-position: 0 -13419px
}

.emoji .sprite-1f500 {
    background-position: 0 -13447px
}

.emoji .sprite-1f501 {
    background-position: 0 -13474px
}

.emoji .sprite-1f502 {
    background-position: 0 -13501px
}

.emoji .sprite-1f503 {
    background-position: 0 -13528px
}

.emoji .sprite-1f504 {
    background-position: 0 -13555px
}

.emoji .sprite-1f505 {
    background-position: 0 -13583px
}

.emoji .sprite-1f506 {
    background-position: 0 -13610px
}

.emoji .sprite-1f507 {
    background-position: 0 -13637px
}

.emoji .sprite-1f509 {
    background-position: 0 -13664px
}

.emoji .sprite-1f50a {
    background-position: 0 -13692px
}

.emoji .sprite-1f50b {
    background-position: 0 -13719px
}

.emoji .sprite-1f50c {
    background-position: 0 -13746px
}

.emoji .sprite-1f50d {
    background-position: 0 -13773px
}

.emoji .sprite-1f50e {
    background-position: 0 -13800px
}

.emoji .sprite-1f50f {
    background-position: 0 -13828px
}

.emoji .sprite-1f510 {
    background-position: 0 -13855px
}

.emoji .sprite-1f511 {
    background-position: 0 -13882px
}

.emoji .sprite-1f512 {
    background-position: 0 -13909px
}

.emoji .sprite-1f513 {
    background-position: 0 -13936px
}

.emoji .sprite-1f514 {
    background-position: 0 -13964px
}

.emoji .sprite-1f515 {
    background-position: 0 -13991px
}

.emoji .sprite-1f516 {
    background-position: 0 -14018px
}

.emoji .sprite-1f517 {
    background-position: 0 -14045px
}

.emoji .sprite-1f518 {
    background-position: 0 -14073px
}

.emoji .sprite-1f519 {
    background-position: 0 -14100px
}

.emoji .sprite-1f51a {
    background-position: 0 -14127px
}

.emoji .sprite-1f51b {
    background-position: 0 -14154px
}

.emoji .sprite-1f51c {
    background-position: 0 -14181px
}

.emoji .sprite-1f51d {
    background-position: 0 -14209px
}

.emoji .sprite-1f51e {
    background-position: 0 -14236px
}

.emoji .sprite-1f51f {
    background-position: 0 -14263px
}

.emoji .sprite-1f520 {
    background-position: 0 -14290px
}

.emoji .sprite-1f521 {
    background-position: 0 -14318px
}

.emoji .sprite-1f522 {
    background-position: 0 -14345px
}

.emoji .sprite-1f523 {
    background-position: 0 -14372px
}

.emoji .sprite-1f524 {
    background-position: 0 -14399px
}

.emoji .sprite-1f525 {
    background-position: 0 -14426px
}

.emoji .sprite-1f526 {
    background-position: 0 -14454px
}

.emoji .sprite-1f527 {
    background-position: 0 -14481px
}

.emoji .sprite-1f528 {
    background-position: 0 -14508px
}

.emoji .sprite-1f529 {
    background-position: 0 -14535px
}

.emoji .sprite-1f52a {
    background-position: 0 -14563px
}

.emoji .sprite-1f52b {
    background-position: 0 -14590px
}

.emoji .sprite-1f52c {
    background-position: 0 -14617px
}

.emoji .sprite-1f52d {
    background-position: 0 -14644px
}

.emoji .sprite-1f52e {
    background-position: 0 -14671px
}

.emoji .sprite-1f52f {
    background-position: 0 -14699px
}

.emoji .sprite-1f530 {
    background-position: 0 -14726px
}

.emoji .sprite-1f531 {
    background-position: 0 -14753px
}

.emoji .sprite-1f532 {
    background-position: 0 -14780px
}

.emoji .sprite-1f533 {
    background-position: 0 -14807px
}

.emoji .sprite-1f534 {
    background-position: 0 -14835px
}

.emoji .sprite-1f535 {
    background-position: 0 -14862px
}

.emoji .sprite-1f536 {
    background-position: 0 -14889px
}

.emoji .sprite-1f537 {
    background-position: 0 -14916px
}

.emoji .sprite-1f538 {
    background-position: 0 -14944px
}

.emoji .sprite-1f539 {
    background-position: 0 -14971px
}

.emoji .sprite-1f53a {
    background-position: 0 -14998px
}

.emoji .sprite-1f53b {
    background-position: 0 -15025px
}

.emoji .sprite-1f53c {
    background-position: 0 -15052px
}

.emoji .sprite-1f53d {
    background-position: 0 -15080px
}

.emoji .sprite-1f550 {
    background-position: 0 -15107px
}

.emoji .sprite-1f551 {
    background-position: 0 -15134px
}

.emoji .sprite-1f552 {
    background-position: 0 -15161px
}

.emoji .sprite-1f553 {
    background-position: 0 -15189px
}

.emoji .sprite-1f554 {
    background-position: 0 -15216px
}

.emoji .sprite-1f555 {
    background-position: 0 -15243px
}

.emoji .sprite-1f556 {
    background-position: 0 -15270px
}

.emoji .sprite-1f557 {
    background-position: 0 -15297px
}

.emoji .sprite-1f558 {
    background-position: 0 -15325px
}

.emoji .sprite-1f559 {
    background-position: 0 -15352px
}

.emoji .sprite-1f55a {
    background-position: 0 -15379px
}

.emoji .sprite-1f55b {
    background-position: 0 -15406px
}

.emoji .sprite-1f55c {
    background-position: 0 -15434px
}

.emoji .sprite-1f55d {
    background-position: 0 -15461px
}

.emoji .sprite-1f55e {
    background-position: 0 -15488px
}

.emoji .sprite-1f55f {
    background-position: 0 -15515px
}

.emoji .sprite-1f560 {
    background-position: 0 -15542px
}

.emoji .sprite-1f561 {
    background-position: 0 -15570px
}

.emoji .sprite-1f562 {
    background-position: 0 -15597px
}

.emoji .sprite-1f563 {
    background-position: 0 -15624px
}

.emoji .sprite-1f564 {
    background-position: 0 -15651px
}

.emoji .sprite-1f565 {
    background-position: 0 -15678px
}

.emoji .sprite-1f566 {
    background-position: 0 -15706px
}

.emoji .sprite-1f567 {
    background-position: 0 -15733px
}

.emoji .sprite-1f5fb {
    background-position: 0 -15760px
}

.emoji .sprite-1f5fc {
    background-position: 0 -15787px
}

.emoji .sprite-1f5fd {
    background-position: 0 -15815px
}

.emoji .sprite-1f5fe {
    background-position: 0 -15842px
}

.emoji .sprite-1f5ff {
    background-position: 0 -15869px
}

.emoji .sprite-1f600 {
    background-position: 0 -15896px
}

.emoji .sprite-1f601 {
    background-position: 0 -15923px
}

.emoji .sprite-1f602 {
    background-position: 0 -15951px
}

.emoji .sprite-1f603 {
    background-position: 0 -15978px
}

.emoji .sprite-1f604 {
    background-position: 0 -16005px
}

.emoji .sprite-1f605 {
    background-position: 0 -16032px
}

.emoji .sprite-1f606 {
    background-position: 0 -16060px
}

.emoji .sprite-1f607 {
    background-position: 0 -16087px
}

.emoji .sprite-1f608 {
    background-position: 0 -16114px
}

.emoji .sprite-1f609 {
    background-position: 0 -16141px
}

.emoji .sprite-1f60a {
    background-position: 0 -16168px
}

.emoji .sprite-1f60b {
    background-position: 0 -16196px
}

.emoji .sprite-1f60c {
    background-position: 0 -16223px
}

.emoji .sprite-1f60d {
    background-position: 0 -16250px
}

.emoji .sprite-1f60e {
    background-position: 0 -16277px
}

.emoji .sprite-1f60f {
    background-position: 0 -16305px
}

.emoji .sprite-1f610 {
    background-position: 0 -16332px
}

.emoji .sprite-1f611 {
    background-position: 0 -16359px
}

.emoji .sprite-1f612 {
    background-position: 0 -16386px
}

.emoji .sprite-1f613 {
    background-position: 0 -16413px
}

.emoji .sprite-1f614 {
    background-position: 0 -16441px
}

.emoji .sprite-1f615 {
    background-position: 0 -16468px
}

.emoji .sprite-1f616 {
    background-position: 0 -16495px
}

.emoji .sprite-1f617 {
    background-position: 0 -16522px
}

.emoji .sprite-1f618 {
    background-position: 0 -16549px
}

.emoji .sprite-1f619 {
    background-position: 0 -16577px
}

.emoji .sprite-1f61a {
    background-position: 0 -16604px
}

.emoji .sprite-1f61b {
    background-position: 0 -16631px
}

.emoji .sprite-1f61c {
    background-position: 0 -16658px
}

.emoji .sprite-1f61d {
    background-position: 0 -16686px
}

.emoji .sprite-1f61e {
    background-position: 0 -16713px
}

.emoji .sprite-1f61f {
    background-position: 0 -16740px
}

.emoji .sprite-1f620 {
    background-position: 0 -16767px
}

.emoji .sprite-1f621 {
    background-position: 0 -16794px
}

.emoji .sprite-1f622 {
    background-position: 0 -16822px
}

.emoji .sprite-1f623 {
    background-position: 0 -16849px
}

.emoji .sprite-1f624 {
    background-position: 0 -16876px
}

.emoji .sprite-1f625 {
    background-position: 0 -16903px
}

.emoji .sprite-1f626 {
    background-position: 0 -16931px
}

.emoji .sprite-1f627 {
    background-position: 0 -16958px
}

.emoji .sprite-1f628 {
    background-position: 0 -16985px
}

.emoji .sprite-1f629 {
    background-position: 0 -17012px
}

.emoji .sprite-1f62a {
    background-position: 0 -17039px
}

.emoji .sprite-1f62b {
    background-position: 0 -17067px
}

.emoji .sprite-1f62c {
    background-position: 0 -17094px
}

.emoji .sprite-1f62d {
    background-position: 0 -17121px
}

.emoji .sprite-1f62e {
    background-position: 0 -17148px
}

.emoji .sprite-1f62f {
    background-position: 0 -17176px
}

.emoji .sprite-1f630 {
    background-position: 0 -17203px
}

.emoji .sprite-1f631 {
    background-position: 0 -17230px
}

.emoji .sprite-1f632 {
    background-position: 0 -17257px
}

.emoji .sprite-1f633 {
    background-position: 0 -17284px
}

.emoji .sprite-1f634 {
    background-position: 0 -17312px
}

.emoji .sprite-1f635 {
    background-position: 0 -17339px
}

.emoji .sprite-1f636 {
    background-position: 0 -17366px
}

.emoji .sprite-1f637 {
    background-position: 0 -17393px
}

.emoji .sprite-1f638 {
    background-position: 0 -17420px
}

.emoji .sprite-1f639 {
    background-position: 0 -17448px
}

.emoji .sprite-1f63a {
    background-position: 0 -17475px
}

.emoji .sprite-1f63b {
    background-position: 0 -17502px
}

.emoji .sprite-1f63c {
    background-position: 0 -17529px
}

.emoji .sprite-1f63d {
    background-position: 0 -17557px
}

.emoji .sprite-1f63e {
    background-position: 0 -17584px
}

.emoji .sprite-1f63f {
    background-position: 0 -17611px
}

.emoji .sprite-1f640 {
    background-position: 0 -17638px
}

.emoji .sprite-1f645 {
    background-position: 0 -17665px
}

.emoji .sprite-1f646 {
    background-position: 0 -17693px
}

.emoji .sprite-1f647 {
    background-position: 0 -17720px
}

.emoji .sprite-1f648 {
    background-position: 0 -17747px
}

.emoji .sprite-1f649 {
    background-position: 0 -17774px
}

.emoji .sprite-1f64a {
    background-position: 0 -17802px
}

.emoji .sprite-1f64b {
    background-position: 0 -17829px
}

.emoji .sprite-1f64c {
    background-position: 0 -17856px
}

.emoji .sprite-1f64d {
    background-position: 0 -17883px
}

.emoji .sprite-1f64e {
    background-position: 0 -17910px
}

.emoji .sprite-1f64f {
    background-position: 0 -17938px
}

.emoji .sprite-1f680 {
    background-position: 0 -17965px
}

.emoji .sprite-1f681 {
    background-position: 0 -17992px
}

.emoji .sprite-1f682 {
    background-position: 0 -18019px
}

.emoji .sprite-1f683 {
    background-position: 0 -18047px
}

.emoji .sprite-1f684 {
    background-position: 0 -18074px
}

.emoji .sprite-1f685 {
    background-position: 0 -18101px
}

.emoji .sprite-1f686 {
    background-position: 0 -18128px
}

.emoji .sprite-1f687 {
    background-position: 0 -18155px
}

.emoji .sprite-1f688 {
    background-position: 0 -18183px
}

.emoji .sprite-1f689 {
    background-position: 0 -18210px
}

.emoji .sprite-1f68a {
    background-position: 0 -18237px
}

.emoji .sprite-1f68c {
    background-position: 0 -18264px
}

.emoji .sprite-1f68d {
    background-position: 0 -18291px
}

.emoji .sprite-1f68e {
    background-position: 0 -18319px
}

.emoji .sprite-1f68f {
    background-position: 0 -18346px
}

.emoji .sprite-1f690 {
    background-position: 0 -18373px
}

.emoji .sprite-1f691 {
    background-position: 0 -18400px
}

.emoji .sprite-1f692 {
    background-position: 0 -18428px
}

.emoji .sprite-1f693 {
    background-position: 0 -18455px
}

.emoji .sprite-1f694 {
    background-position: 0 -18482px
}

.emoji .sprite-1f695 {
    background-position: 0 -18509px
}

.emoji .sprite-1f696 {
    background-position: 0 -18536px
}

.emoji .sprite-1f697 {
    background-position: 0 -18564px
}

.emoji .sprite-1f698 {
    background-position: 0 -18591px
}

.emoji .sprite-1f699 {
    background-position: 0 -18618px
}

.emoji .sprite-1f69a {
    background-position: 0 -18645px
}

.emoji .sprite-1f69b {
    background-position: 0 -18673px
}

.emoji .sprite-1f69c {
    background-position: 0 -18700px
}

.emoji .sprite-1f69d {
    background-position: 0 -18727px
}

.emoji .sprite-1f69e {
    background-position: 0 -18754px
}

.emoji .sprite-1f69f {
    background-position: 0 -18781px
}

.emoji .sprite-1f6a0 {
    background-position: 0 -18809px
}

.emoji .sprite-1f6a1 {
    background-position: 0 -18836px
}

.emoji .sprite-1f6a2 {
    background-position: 0 -18863px
}

.emoji .sprite-1f6a3 {
    background-position: 0 -18890px
}

.emoji .sprite-1f6a4 {
    background-position: 0 -18918px
}

.emoji .sprite-1f6a5 {
    background-position: 0 -18945px
}

.emoji .sprite-1f6a6 {
    background-position: 0 -18972px
}

.emoji .sprite-1f6a7 {
    background-position: 0 -18999px
}

.emoji .sprite-1f6a8 {
    background-position: 0 -19026px
}

.emoji .sprite-1f6a9 {
    background-position: 0 -19054px
}

.emoji .sprite-1f6aa {
    background-position: 0 -19081px
}

.emoji .sprite-1f6ab {
    background-position: 0 -19108px
}

.emoji .sprite-1f6ac {
    background-position: 0 -19135px
}

.emoji .sprite-1f6ad {
    background-position: 0 -19162px
}

.emoji .sprite-1f6ae {
    background-position: 0 -19190px
}

.emoji .sprite-1f6af {
    background-position: 0 -19217px
}

.emoji .sprite-1f6b0 {
    background-position: 0 -19244px
}

.emoji .sprite-1f6b1 {
    background-position: 0 -19271px
}

.emoji .sprite-1f6b2 {
    background-position: 0 -19299px
}

.emoji .sprite-1f6b3 {
    background-position: 0 -19326px
}

.emoji .sprite-1f6b4 {
    background-position: 0 -19353px
}

.emoji .sprite-1f6b5 {
    background-position: 0 -19380px
}

.emoji .sprite-1f6b6 {
    background-position: 0 -19407px
}

.emoji .sprite-1f6b7 {
    background-position: 0 -19435px
}

.emoji .sprite-1f6b8 {
    background-position: 0 -19462px
}

.emoji .sprite-1f6b9 {
    background-position: 0 -19489px
}

.emoji .sprite-1f6ba {
    background-position: 0 -19516px
}

.emoji .sprite-1f6bb {
    background-position: 0 -19544px
}

.emoji .sprite-1f6bc {
    background-position: 0 -19571px
}

.emoji .sprite-1f6bd {
    background-position: 0 -19598px
}

.emoji .sprite-1f6be {
    background-position: 0 -19625px
}

.emoji .sprite-1f6bf {
    background-position: 0 -19652px
}

.emoji .sprite-1f6c0 {
    background-position: 0 -19680px
}

.emoji .sprite-1f6c1 {
    background-position: 0 -19707px
}

.emoji .sprite-1f6c2 {
    background-position: 0 -19734px
}

.emoji .sprite-1f6c3 {
    background-position: 0 -19761px
}

.emoji .sprite-1f6c4 {
    background-position: 0 -19789px
}

.emoji .sprite-1f6c5 {
    background-position: 0 -19816px
}

.emoji .sprite-203c {
    background-position: 0 -19843px
}

.emoji .sprite-2049 {
    background-position: 0 -19870px
}

.emoji .sprite-2122 {
    background-position: 0 -19897px
}

.emoji .sprite-2194 {
    background-position: 0 -19925px
}

.emoji .sprite-2195 {
    background-position: 0 -19952px
}

.emoji .sprite-2196 {
    background-position: 0 -19979px
}

.emoji .sprite-2197 {
    background-position: 0 -20006px
}

.emoji .sprite-2198 {
    background-position: 0 -20033px
}

.emoji .sprite-2199 {
    background-position: 0 -20061px
}

.emoji .sprite-21a9 {
    background-position: 0 -20088px
}

.emoji .sprite-21aa {
    background-position: 0 -20115px
}

.emoji .sprite-231a {
    background-position: 0 -20142px
}

.emoji .sprite-231b {
    background-position: 0 -20170px
}

.emoji .sprite-23e9 {
    background-position: 0 -20197px
}

.emoji .sprite-23ea {
    background-position: 0 -20224px
}

.emoji .sprite-23eb {
    background-position: 0 -20251px
}

.emoji .sprite-23ec {
    background-position: 0 -20278px
}

.emoji .sprite-23f0 {
    background-position: 0 -20306px
}

.emoji .sprite-23f3 {
    background-position: 0 -20333px
}

.emoji .sprite-25aa {
    background-position: 0 -20360px
}

.emoji .sprite-25ab {
    background-position: 0 -20387px
}

.emoji .sprite-25b6 {
    background-position: 0 -20415px
}

.emoji .sprite-25c0 {
    background-position: 0 -20442px
}

.emoji .sprite-25fb {
    background-position: 0 -20469px
}

.emoji .sprite-25fc {
    background-position: 0 -20496px
}

.emoji .sprite-25fd {
    background-position: 0 -20523px
}

.emoji .sprite-25fe {
    background-position: 0 -20551px
}

.emoji .sprite-2600 {
    background-position: 0 -20578px
}

.emoji .sprite-2601 {
    background-position: 0 -20605px
}

.emoji .sprite-260e {
    background-position: 0 -20632px
}

.emoji .sprite-2611 {
    background-position: 0 -20660px
}

.emoji .sprite-2614 {
    background-position: 0 -20687px
}

.emoji .sprite-2615 {
    background-position: 0 -20714px
}

.emoji .sprite-261d {
    background-position: 0 -20741px
}

.emoji .sprite-263a {
    background-position: 0 -20768px
}

.emoji .sprite-2648 {
    background-position: 0 -20796px
}

.emoji .sprite-2649 {
    background-position: 0 -20823px
}

.emoji .sprite-264a {
    background-position: 0 -20850px
}

.emoji .sprite-264b {
    background-position: 0 -20877px
}

.emoji .sprite-264c {
    background-position: 0 -20904px
}

.emoji .sprite-264d {
    background-position: 0 -20932px
}

.emoji .sprite-264e {
    background-position: 0 -20959px
}

.emoji .sprite-264f {
    background-position: 0 -20986px
}

.emoji .sprite-2650 {
    background-position: 0 -21013px
}

.emoji .sprite-2651 {
    background-position: 0 -21041px
}

.emoji .sprite-2652 {
    background-position: 0 -21068px
}

.emoji .sprite-2653 {
    background-position: 0 -21095px
}

.emoji .sprite-2660 {
    background-position: 0 -21122px
}

.emoji .sprite-2663 {
    background-position: 0 -21149px
}

.emoji .sprite-2665 {
    background-position: 0 -21177px
}

.emoji .sprite-2666 {
    background-position: 0 -21204px
}

.emoji .sprite-2668 {
    background-position: 0 -21231px
}

.emoji .sprite-267b {
    background-position: 0 -21258px
}

.emoji .sprite-267f {
    background-position: 0 -21286px
}

.emoji .sprite-2693 {
    background-position: 0 -21313px
}

.emoji .sprite-26a0 {
    background-position: 0 -21340px
}

.emoji .sprite-26a1 {
    background-position: 0 -21367px
}

.emoji .sprite-26aa {
    background-position: 0 -21394px
}

.emoji .sprite-26ab {
    background-position: 0 -21422px
}

.emoji .sprite-26bd {
    background-position: 0 -21449px
}

.emoji .sprite-26be {
    background-position: 0 -21476px
}

.emoji .sprite-26c4 {
    background-position: 0 -21503px
}

.emoji .sprite-26c5 {
    background-position: 0 -21531px
}

.emoji .sprite-26ce {
    background-position: 0 -21558px
}

.emoji .sprite-26d4 {
    background-position: 0 -21585px
}

.emoji .sprite-26ea {
    background-position: 0 -21612px
}

.emoji .sprite-26f2 {
    background-position: 0 -21639px
}

.emoji .sprite-26f3 {
    background-position: 0 -21667px
}

.emoji .sprite-26f5 {
    background-position: 0 -21694px
}

.emoji .sprite-26fa {
    background-position: 0 -21721px
}

.emoji .sprite-26fd {
    background-position: 0 -21748px
}

.emoji .sprite-2702 {
    background-position: 0 -21775px
}

.emoji .sprite-2705 {
    background-position: 0 -21803px
}

.emoji .sprite-2708 {
    background-position: 0 -21830px
}

.emoji .sprite-2709 {
    background-position: 0 -21857px
}

.emoji .sprite-270a {
    background-position: 0 -21884px
}

.emoji .sprite-270b {
    background-position: 0 -21912px
}

.emoji .sprite-270c {
    background-position: 0 -21939px
}

.emoji .sprite-270f {
    background-position: 0 -21966px
}

.emoji .sprite-2712 {
    background-position: 0 -21993px
}

.emoji .sprite-2714 {
    background-position: 0 -22020px
}

.emoji .sprite-2716 {
    background-position: 0 -22048px
}

.emoji .sprite-2728 {
    background-position: 0 -22075px
}

.emoji .sprite-2733 {
    background-position: 0 -22102px
}

.emoji .sprite-2734 {
    background-position: 0 -22129px
}

.emoji .sprite-2744 {
    background-position: 0 -22157px
}

.emoji .sprite-2747 {
    background-position: 0 -22184px
}

.emoji .sprite-274c {
    background-position: 0 -22211px
}

.emoji .sprite-274e {
    background-position: 0 -22238px
}

.emoji .sprite-2753 {
    background-position: 0 -22265px
}

.emoji .sprite-2754 {
    background-position: 0 -22293px
}

.emoji .sprite-2755 {
    background-position: 0 -22320px
}

.emoji .sprite-2757 {
    background-position: 0 -22347px
}

.emoji .sprite-2764 {
    background-position: 0 -22374px
}

.emoji .sprite-2795 {
    background-position: 0 -22402px
}

.emoji .sprite-2796 {
    background-position: 0 -22429px
}

.emoji .sprite-2797 {
    background-position: 0 -22456px
}

.emoji .sprite-27a1 {
    background-position: 0 -22483px
}

.emoji .sprite-27b0 {
    background-position: 0 -22510px
}

.emoji .sprite-2934 {
    background-position: 0 -22538px
}

.emoji .sprite-2935 {
    background-position: 0 -22565px
}

.emoji .sprite-2b05 {
    background-position: 0 -22592px
}

.emoji .sprite-2b06 {
    background-position: 0 -22619px
}

.emoji .sprite-2b07 {
    background-position: 0 -22646px
}

.emoji .sprite-2b1b {
    background-position: 0 -22674px
}

.emoji .sprite-2b1c {
    background-position: 0 -22701px
}

.emoji .sprite-2b50 {
    background-position: 0 -22728px
}

.emoji .sprite-2b55 {
    background-position: 0 -22755px
}

.emoji .sprite-3030 {
    background-position: 0 -22783px
}

.emoji .sprite-303d {
    background-position: 0 -22810px
}

.emoji .sprite-test {
    background-position: 0 -22837px
}

.emoji {
    background-repeat: no-repeat;
    overflow: hidden
}

.emoji .sprite, td.preview.emoji a.sprite {
    background-image: url(../images/emoji.png);
    width: 28px
}