@import url(webfonts/webfont.css);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Source Sans Pro', 'Microsoft JhengHei', 'Microsoft Yahei', sans-serif;
}
input,
button,
select,
textarea {
  outline: none;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear::after {
  width: 0;
  height: 0;
  content: "\feff";
  display: block;
  clear: both;
}
header {
  background: -moz-linear-gradient(90deg, #5c00ff, #410cc7);
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#5c00ff), to(#410cc7));
  background: -webkit-linear-gradient(90deg, #5c00ff, #410cc7);
  min-height: 200px;
  color: white;
  transition: all 300ms;
}
header a:visited,
header a:link {
  color: white;
  text-decoration: none;
  border-bottom: 1px white dashed;
}
header nav {
  background: #3e00a4;
  margin-top: 20px;
  margin-right: -40px;
  padding-right: 60px;
  float: right;
  transform: skew(-22.5deg);
  transition: all 0.3s;
}
header nav * {
  transform: skew(22.5deg);
}
header nav li {
  padding: 20px 20px 20px 40px;
  float: left;
  transition: all 0.3s ease-in-out;
}
header nav li a:link {
  color: white;
  border: none;
  text-decoration: none;
}
header nav .highlight {
  width: 85px;
  height: 62px;
  right: -90px;
  background: #fdd000;
  transform: skew(0deg);
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -moz-transition: all ease-in-out 0.3s;
}
header nav .high a:link,
header nav .high a:hover,
header nav .high a:visited {
  color: black !important;
  transition: all 0.3s ease-in-out;
  -moz-transition: all ease-in-out 0.3s;
}
header nav::after {
  width: 0;
  height: 0;
  content: "\feff";
  display: block;
  clear: both;
}
.button {
  top: -2px;
  border: 1px white solid !important;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 11px;
  margin: 0 0 0 10px;
  padding: 2px 6px;
  position: relative;
  transition: all ease-out 0.2s;
}
.button:hover {
  background: white;
  transition: all ease-in 0.2s;
}
.button:hover:link,
.button:hover:visited,
.button:hover:active {
  color: #5105e9;
}
.button:link,
.button:visited,
.button:active {
  text-decoration: none;
  color: white;
}
#intro {
  left: 0;
  top: 50px;
  width: 40%;
  height: 158px;
  text-align: center;
  position: absolute;
  transition: left ease-in-out 0.5s;
}
#intro h1 {
  font-size: 40px;
  line-height: 60px;
}
#intro .subtitle {
  font-size: 15px;
  line-height: 40px;
}
.blank {
  height: 390px;
  display: none;
}
footer {
  font-size: 12px;
  line-height: 20px;
  background: #c0b5d3;
  padding: 20px 30px;
  color: #3c324d;
}
footer a:link,
footer a:visited {
  color: #2c184f;
  text-decoration: none;
  border-bottom: 1px dashed #20113c;
}
footer a:hover {
  color: #3c324d;
}
@media only screen and (max-width: 530px) {
  header nav {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0;
    transform: skew(0deg);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
  }
  header nav * {
    transform: skew(0deg);
  }
  header nav li {
    padding: 15px 0 15px 0;
    flex: 1;
    text-align: center;
  }
  header nav .highlight {
    height: 51px;
    margin-right: -45px;
  }
}
